body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    text-decoration: none;

}
.separador-negro {
    background-color: black;
    border-radius: 0%;
    width: 100%;
    height: 0%;
    padding: 0%;
}
.separador-rayado-blanco {
    background-color: white;
    border-radius: 0%;
    width: 100%;
    height: 0%;
    padding: 0%;
    border-bottom-style: dashed;
    border-width: 2px;
    border-color: #E6E6E6;
}
.separador-blanco {
    background-color: white;
    border-radius: 0%;
    width: 100%;
    height: 0%;
    padding: 0%;
}

.noticias-recientes {
    margin: 0%;
    margin-left: -5%;
    padding: 0%;
    font-family: "Montserrat";

}

.ver-eventos {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 1%;
    color: #2587e8;
    font-family: "Montserrat";
    text-decoration: none;
}

.evento-1 {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    color: black;
    font-family: "Montserrat";
    font-size: small;
    text-decoration: none;
}

.evento-2 {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    color: black;
    font-family: "Open Sans";
    font-size: small;
    text-decoration: none;	
}

.separador-gris {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 0%;
    width: 100%;
    height: 0%;
    padding: 0%;

}

.separador-transparente {
    background-color: transparent;
    border-radius: 0%;
    width: 100%;
    height: 0%;
    padding: 0%;
}

/*#bg-azul {
            background-image: url("img/base_azul_20.png");
}*/

.espaciado-columnas-azul {
    padding-top: 5%;
    padding-bottom: 5%;
}

.nombre-rector {
    margin-top: -8%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: larger;
    text-decoration: none;
}

.titulo-info-noticia-azul {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: larger;
    text-decoration: none;
}

.columna-central-azul-border {
    border: solid;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    padding-top: 0%;
    padding-bottom: 0%;
}

.info-noticia-azul {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    color: #FFFFFF;
    font-family: "Open Sans";
}

.tipo-link {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    color: #FFFFFF;
    font-family: "Open Sans";
}

.titulo-evento {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    color: #FFFFFF;
    font-family: "Montserrat";
}

.evento-info {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: smaller;
}

.boton-compartir {
    margin: 0%;
    padding: 0%;
    padding-top: 4%;
    color: #f8623f;
    font-color: #FFFFFF;
}
.noticias-left-bg {
    border-width: 1px;
    padding: 0%;
    padding-left: 3.5%;
    align-items: center;
    background-color: #FFFFFF;
    margin-left: 4.5%;
}
.noticias-left-bg-2 {
    border-width: 1px;
    padding: 0%;
    padding-left: 3.5%;
    align-items: center;
    background-color: #1a4572;
    margin-left: 4.5%;
}
.noticias-left-bg-video {
    border-width: 1px;
    padding: 0%;
    padding-left: 3.5%;
    align-items: center;
    background-color: #000000;
    margin-left: 4.5%;
}
.noticias-left-text {
    font-family: "Montserrat";
    color: #000000;
    text-align: justify;
    font-size: 14px;
    padding-left: 0%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 0%;
}

.noticias-left-text-2 {
    font-family: "Montserrat";
    color: #FFFFFF;
    text-align: justify;
    font-size: 14px;
    padding-left: 0%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 0%;
}
.noticia-bg-negro {
    font-family: "Montserrat";
    color: #2587e8;
    margin-top: 0.8%;
    margin-bottom: 0%;
    margin-left: 14%;
}

.noticia-bg-negro-info {
    font-family: "Open Sans";
    color: #FFFFFF;
    font-size: smaller;
    margin-left: 14%;
}

.banner-vertical-info {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-size: small;
    margin-top: 15%;
}

.leer-mas-banner-vertical {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-size: 8px;
    padding-bottom: 214%;
}

.tab-head {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-size: 12px;
    padding: 0%;
    margin: 0%;
}

.tab-info {
    font-family: "Montserrat";
    color: #2587e8;
    font-size: 10px;
    padding: 5%;
    padding-bottom: 2%;
    margin: 0%;
}

.tab-info-date {
    font-family: "Montserrat";
    color: #b2b2b2;
    font-size: 9px;
    padding-top: 2%;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%;
}

.logged {
    border: 1px solid rgb(204, 204, 204);
    width: 60%;
    border-radius: 8px;
    /* max-width: 450px; */
    margin-top: 10px;
    min-width: 160px;
    float: right;
    height: 44px;
    /*padding-top: 8px;*/
    font-size: 10px;
    background-color: white;
    /*position: relative;*/
    text-align: center;
    font-size: 12px;
    line-height: 1.42857143;
    color: rgb(153, 153, 159);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-family: "Open Sans", "Montserrat", Helvetica,Arial,sans-serif;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #2587e8 !important;	
}

.nav-tabs>li>a>p{
    text-align: center !important;
}
.login {
    display:inline-block;
    float: right;
    position: relative;
    height: 62px;
    /*min-width: 243px;*/

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.login-options {    
    margin-left: 8px;
    margin-top: 4px;
    padding: 2px 5px 0px 5px;
    position: absolute;
    top: 34px;
    left: 0px;
    padding: 5px;
    /*margin-top: 21px;*/
    /*	background-color: rgba(0, 0, 0, 0.3);
            -moz-border-radius: 5px 5px 0px 0px;
            -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;*/    
    font-size: 10px;
}
.login-options ul {    
    padding: 0px;
    margin: 0px auto;
    list-style-type:none;
    /*text-align: center;*/
}
.login-options li {    
    display:inline;
    margin: 0px 4px;
}
.login-options a {
    color:#990012;
    text-decoration: none;
}
.login-options a:hover {
    color: #21569f;
}

.opciones-superiores{
    display:inline-block;
    height: 62px;
    float: right;
    margin-right:15%;
}

.opciones-superiores ul{
    padding:23px;
    display:inline-flex;
    list-style: none;    
}

.opciones-superiores li{
    margin-left:15px;
}

.opciones-superiores li a{
    text-decoration: none;
    color: dimgray;
}

.opciones-superiores li a:hover{
    color:black;
}

.wrapper input[type="text"] {
    position: relative; 
}

.entrada{    
    width:170px !important;
}

input { 
    font-family: 'FontAwesome';
} /* This is for the placeholder */

#logo{
    display:inline-block;
    height:210px;
    width:149px;
    position:absolute;
    margin-left: 13%;
    background-image: url("../img/img_home/cinta_logo_02.png");
}

#separador{
    border-right: 7px solid;

    border-right-color: grey;
    border: 1px solid;
}

@media (min-width: 200px) and (max-width: 1000px){

}

a,p,a:hover {
    text-decoration: none;
}
.ead {
    /* border: 1px solid; */
    
    width: 106px;
    margin-top: -44px;
    margin-left: 86px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.ead-m{
    /* border: 1px solid; */
    
    width: 132px;
    margin-top: -21px;
    margin-left: -37px;
    font-family: Arial, Helvetica, sans-serif;   font-size: 15px;
    color: red;
}
.header-options-2 {
    color: white;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.mainLoginInput::-moz-placeholder {
   font-family: "Montserrat", Arial, Helvetica, sans-serif;  
}

.separacion {
    margin-bottom: 2%;
}

.titulo-planilla {
    font-family: "roboto";
    font-size: 18px;
    font-weight: bolder;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: -4%;
}
#drop-planilla {
    padding-top: 5%;
    padding-bottom: 2%;
}
.opcion-nombre {
    font-family: "roboto";
    font-size: 16px;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 1.3%;
}
.opcion-resultado {
    font-family: "roboto";
    font-size: 16px;
    color: #666666;
    padding-top: 3%;
    padding-bottom: 1.3%;
    text-align: right;
}
#datos-perfil {
    box-shadow: 0px 4px 3px lightgrey;
}

.fila-borde {
    border-top: 1px solid lightgrey;
    border-left: none;
    border-right: none;
    margin-left: 0;
    margin-right: 0;
}
.nombre-de-perfil {
    font-family: "roboto";
    font-weight: bold;
    font-size: 21px;
    color: black;
    text-align: center;
}
.edad-de-perfil {
    font-family: "roboto";
    font-size: 18px;
    color: black;
    text-align: center;
}
.pais-de-perfil {
    font-family: "roboto";
    font-size: 16px;
    color: black;
    text-align: center;
}
.abrir {
    transition: height 0.2s cubic-bezier(0.17, 0.04, 0.03, 0.94) !important; 
    height:100% !important;
}
.cerrar {
    transition: height 0.2s cubic-bezier(0.17, 0.04, 0.03, 0.94) !important;
    height: 0% !important;
}
.verificacion-head {
    font-size: 21px;
    font-weight: 600;    
}
.verificacion-texto {
    font-size: 16px;
}
