<div>
                  
  <p style="font-weight:bold; font-size:15px;">Financiamiento</p>
                <table class="table table-hover" width="500" border="0";>
                <tr>
                <th width="84" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Período</div></th>
                <th width="63" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Duración</div></th>
                <th width="60" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Inversión</div></th>
                <th width="54" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Inicial</div></th>
                <th width="51" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Cuota 1</div></th>
                <th width="51" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Cuota 2</div></th>
                <th width="51" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Cuota 3</div></th>
                <th width="51" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Cuota 4</div></th>
                </tr>  
                
                <tr>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center">288/18UC</div></td>
                <td style="font-size:13px;"><div align="center">$125,00</div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                </tr>
                
                <tr>
                <td style="font-size:13px;"><div align="center">1er. Semestre</div></td>
                <td style="font-size:13px;"><div align="center">9</div></td>
                <td style="font-size:13px;"><div align="center">$1125,00</div></td>
                <td style="font-size:13px;"><div align="center">$337,50</div></td>
                <td style="font-size:13px;"><div align="center">$196,88</div></td>
                <td style="font-size:13px;"><div align="center">$196,88</div></td>
                <td style="font-size:13px;"><div align="center">$196,88</div></td>
                <td style="font-size:13px;"><div align="center">$196,88</div></td>
                </tr>
                
                <tr>
                <td style="font-size:13px;"><div align="center">2do. Semestre</div></td>
                <td style="font-size:13px;"><div align="center">9</div></td>
                <td style="font-size:13px;"><div align="center">$1125,00</div></td>
                <td style="font-size:13px;"><div align="center">$337,50</div></td>
                <td style="font-size:13px;"><div align="center">$196,88</div></td>
                <td style="font-size:13px;"><div align="center">$196,88</div></td>
                <td style="font-size:13px;"><div align="center">$196,88</div></td>
                <td style="font-size:13px;"><div align="center">$196,88</div></td>
                </tr>
                
                <tr>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center">Total</div></td>
                <td style="font-size:13px;"><div align="center">$2250,00</div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                <td style="font-size:13px;"><div align="center"></div></td>
                </tr>


                  </table>   
                  </div>
 