
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_diplomado/diplomado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div id="principal" class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">


                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/img_cursos/actua_contratos.png"/></div>
                    &nbsp;


                </div>

                <!-- <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 249px">&nbsp;</div>
                  </div>-->

                <div class="col-md-5" align="left">
                    <div><h4 class="titulo"><span style=" font-size:30px;">ACTUALIZACIÓN EN CONTRATOS PÚBLICOS</span></h4>

                        <p style="font-weight:bold; font-size:15px;">Objetivo general</p>
                        <ol class="parrafo">
                            <li>Analizar los fundamentos legales de la contratación administrativa.</li>
                            <li>Describir e identificar los contratos administrativos.</li>
                            <li>Analizar los fundamentos legales de los elementos que forman el contrato.</li>
                            <li>Identificar los procesos de selección de contratista.</li>
                            <li>Analizar las clausulas exorbitantes o los poderes extraordinarios en los contratos públicos.</li>
                            <li>Describir e identificar los procesos de selección de contratistas.</li>
                            <li>Definir el concurso abierto, cerrado, consulta de precios y contratación directa.</li>
                            <li>Analizar los fundamentos legales del procedimiento.</li>
                            <li>Describir las medidas de promoción y desarrollo económico.</li>
                            <li>Identificar las funciones de la comisión de contrataciones.</li>
                            <li>Demostrar las funciones de registro nacional de contratistas.</li>
                            <li>De las garantías y fiscalización de los contrato de la ley.</li>

                        </ol><br />

                        <p style="font-weight:bold; font-size:15px;">Dirigido a:</p>
                        <p class="parrafo">Estudiantes de derecho, economía, contaduría, profesionales del derecho, ingeniería, medicina, TSU en administración, ciencias políticas.</p><br />

                        <p style="font-weight:bold; font-size:15px;">Contenido:</p>
                        <ol class="parrafo">
                            <li>Definición del contrato administrativo</li>
                            <li>Características y principios fundamentales  aplicables a los contratos administrativos.</li>
                            <li>Elementos comunes a los contratos administrativos</li>
                            <li>Los contratos del estado</li>
                            <li>La ley aplicable a los contratos del estado</li>
                            <li>Los contratos del estado y los contratos  administrativos</li>
                            <li>La regulación constitucional del régimen de los contratos  del estado,&nbsp;contratos&nbsp;de interés público o contratos de  la&nbsp;administración</li>
                            <li>Las figuras contractuales denominadas Joint  Venture, Outsourcing,Contrato Marco, Alianza&nbsp;Estratégicas y alianza  comercial</li>
                            <li>Principios elementos y&nbsp;características&nbsp;de  las figuras contractuales</li>
                            <li>Definición  de las ley de contrataciones públicas</li>
                            <li>Características  y principios fundamentales de los procedimientos de&nbsp;selección&nbsp;de  contratistas</li>
                            <li>Procedimiento  de contratación</li>
                            <li>Ámbito  de&nbsp;aplicación&nbsp;de la ley de contrataciones públicas</li>
                            <li>La  comisión de contrataciones</li>
                            <li>De las  atribuciones de la comisión</li>
                            <li>De las  responsabilidades</li>
                            <li>El  registro nacional de contratistas</li>
                            <li>Disposiciones  comunes en los procesos de selección de contratistas.</li>
                            <li>Concurso&nbsp;abierto  y anunciado internacionalmente</li>
                            <li>Concurso  cerrado</li>
                            <li>Consulta  de precios</li>
                            <li>Contratación  directa</li>
                            <li>Los  pliegos de condiciones y su&nbsp;carácter&nbsp;jurídico</li>
                            <li>Suspensión&nbsp;del  procedimiento</li>
                            <li>Fin del  procedimiento. Adjudicación. Declaratoria Desierta.Terminación unilateral  anticipada.</li>
                            <li>Medidas  de promoción y desarrollo económico</li>
                            <li>De los  contratos</li>
                            <li>De  la&nbsp;celebración&nbsp;de contratos y su nulidad.</li>
                            <li>De las  garantías del contrato</li>
                            <li>Inicio de  la obra y fecha de entrega de bienes</li>
                            <li>Modificación&nbsp;del  contrato</li>
                            <li>Variaciones  del precios</li>
                            <li>Control  y&nbsp;fiscalización&nbsp;del contrato de obra</li>
                            <li>Del pago  de la obras</li>
                            <li>Terminación  del contrato</li>
                            <li>Causales  de terminación unilateral</li>
                            <li>De las  sanciones</li>
                        </ol>


                        <p style="font-weight:bold; font-size:15px;">Duración:</p>
                        <p class="parrafo">16 horas.</p><br />

                        <p style="font-weight:bold; font-size:15px;">Facilitador:</p>
                        <p class="parrafo">Msc. Miguel Isea.</p><br />  
                        <div layout="row" ng-if="((PlanesFinanciamiento.length > 0) && (isLogged) && (puedeInscribir === true))">
                            <div layout="column" flex="100">
                                <md-button class="md-raised" style="background-color:#21569f;color:white;" ng-click="goOn()">Inscribirse</md-button>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!PlanesFinanciamiento && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Cargando...</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(PlanesFinanciamiento.length === 0 && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>La inscripción para este estudio no está disponible.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(puedeInscribir === false && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Ya está inscrito en este estudio.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!isLogged)">
                            <div layout="column" flex="100" align="center">
                                <h2>Debe iniciar sesión si desea inscribirse en este estudio.</h2>
                            </div>
                        </div>
                    </div>
                    &nbsp;




                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
            &nbsp;

            <!--Nueva sección de Cursos-->
            <!-- <div class="row">
                  <div class="col-md-2">
                      <h4 class="titulo"><span style=" font-weight:bold;padding-left:35px;">CURSOS</span></h4>
                  </div>
  
                 <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 655px">&nbsp;</div>
                  </div>
  
                  <div class="col-md-5" align="left">
                       <div style=" margin-left:25px;">
                    <img class="img-responsive" src="img/img_diplomado/img_cursos.jpg"/>
                    </div>
                    &nbsp;
                      <ul class="titulo">
                       <li><a href="">NORMAS ISO 9001:2015 “RUMBO A LA CERTIFICACIÓN”</a></li>
                       <li><a href="">HERRAMIENTAS PARA EL ASEGURAMIENTO DE LA CALIDAD</a></li>
                       <li><a href="">ADMINISTRACIÓN DE INVENTARIOS</a></li>
                       <li><a href="">PETRÓLEO PARA NO PETROLEROS</a></li>
                       <li><a href="">GERENCIANDO UNA EMPRESA</a></li>
                       <li><a href="">EDUCANDO SIN IRA (EL MANEJO DEL AUTOCONTROL EMOCIONAL)</a></li>
                       <li><a href="">ADMINISTRACIÓN DE CONTRATOS DE OBRAS PÚBLICAS, BIENES Y SERVICIOS</a></li>
                       <li><a href="">ACTUALIZACIÓN EN CONTRATOS PÚBLICOS</a></li>
                       <li><a href="">¿CÓMO ELABORAR UN PROGRAMA DE SALUD Y SEGURIDAD LABORAL?</a></li>
                       <li><a href="">AUTOESTIMA Y MOTIVACIÓN AL LOGRO (CLAVE DEL ÉXITO)</a></li>
                       <li><a href="">MANEJO DEL ESTRÉS EN TIEMPO DE CRISIS (TÉCNICAS DE RELAJACIÓN)</a></li>
                       <li><a href="">CALIDAD DE SERVICIOS AL CLIENTE</a></li>
                       <li><a href="">DESARROLLO DE HABILIDADES DE COUNSELING Y COACHING</a></li>
                       <li><a href="">FINANZAS PARA NO FINANCIEROS</a></li>
                       <li><a href="">PNL PARA NEGOCIACIONES EFECTIVAS</a></li>
                       <li><a href="">GERENCIA DE EVENTOS ESPECIALES Y PROTOCOLO</a></li>
                       <li><a href="">PRESENTACIONES ORALES EFECTIVAS</a></li>
                       
                      </ul>
                      &nbsp;
                      &nbsp;
                      
                  </div>
  
                  <div id="verLine2" class="col-md-1">
                      <div class="verticalLine" style="height: 655px">&nbsp;</div>
                  </div>
  
                  <div class="col-md-3" align="center">-->

        </div>
    </div>

    <!--Fin de sección-->      

</section>

