
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="../cursosimg/img_diplomado/diplomado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->
    
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">
                
                
                <div class="col-md-3">
                    <div></div>
                    &nbsp;
                   
                    
                </div>
                
              <!-- <div id="verLine1" class="col-md-1">
                    <div class="verticalLine" style="height: 249px">&nbsp;</div>
                </div>-->

                <div class="col-md-5" align="left">
                  <div>
                  <h4 class="titulo"><span style=" font-size:30px;">DIPLOMADOS</span></h4>
                  
                  <p style="font-weight:bold; font-size:15px;">Financiamiento</p>
                 <table class="table table-hover" width="500" border="0";>
                <tr>
                <th width="110" style="background-color:#103b70; color:#FFF; font-size:13px;">Período</th>
                <th width="60" style="background-color:#103b70; color:#FFF; font-size:13px;">Duración</th>
                <th width="58" style="background-color:#103b70; color:#FFF; font-size:13px;">Inversión</th>
                <th width="44" style="background-color:#103b70; color:#FFF; font-size:13px;">Inicial</th>
                <th width="48" style="background-color:#103b70; color:#FFF; font-size:13px;">Cuota 1</th>
                <th width="48" style="background-color:#103b70; color:#FFF; font-size:13px;">Cuota 2</th>
                <th width="48" style="background-color:#103b70; color:#FFF; font-size:13px;">Cuota 3</th>
                <th width="50" style="background-color:#103b70; color:#FFF; font-size:13px;">Cuota 4</th>
                </tr>  
                
                <tr>
                <td style="font-size:13px;">&nbsp;</td>
                <td style="font-size:13px;">200/25UC</td>
                <td style="font-size:13px;">$30,00</td>
                <td style="font-size:13px;">&nbsp;</td>
                <td style="font-size:13px;">&nbsp;</td>
                <td style="font-size:13px;">&nbsp;</td>
                <td style="font-size:13px;">&nbsp;</td>
                <td style="font-size:13px;">&nbsp;</td>
                </tr>
                
                <tr>
                <td height="20" style="font-size:13px;">Primer Semestre</td>
                <td style="font-size:13px;">25</td>
                <td style="font-size:13px;">$750,00</td>
                <td style="font-size:13px;">$225,00</td>
                <td style="font-size:13px;">$131,25</td>
                <td style="font-size:13px;">$131,25</td>
                <td style="font-size:13px;">$131,25</td>
                <td style="font-size:13px;">$131,25</td>
                </tr>


                  </table>   
                  </div>
                  &nbsp;

                  
                  


                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 680px">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="http://www.urbeinternacional.com/#/modelo-educativo"><img class="img-responsive" src="../cursosimg/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
             &nbsp;
              
        <!--Nueva sección de Cursos-->
          <!-- <div class="row">
                <div class="col-md-2">
                    <h4 class="titulo"><span style=" font-weight:bold;padding-left:35px;">CURSOS</span></h4>
                </div>

               <div id="verLine1" class="col-md-1">
                    <div class="verticalLine" style="height: 655px">&nbsp;</div>
                </div>

                <div class="col-md-5" align="left">
                     <div style=" margin-left:25px;">
                  <img class="img-responsive" src="img/img_diplomado/img_cursos.jpg"/>
                  </div>
                  &nbsp;
                    <ul class="titulo">
                     <li><a href="">NORMAS ISO 9001:2015 “RUMBO A LA CERTIFICACIÓN”</a></li>
                     <li><a href="">HERRAMIENTAS PARA EL ASEGURAMIENTO DE LA CALIDAD</a></li>
                     <li><a href="">ADMINISTRACIÓN DE INVENTARIOS</a></li>
                     <li><a href="">PETRÓLEO PARA NO PETROLEROS</a></li>
                     <li><a href="">GERENCIANDO UNA EMPRESA</a></li>
                     <li><a href="">EDUCANDO SIN IRA (EL MANEJO DEL AUTOCONTROL EMOCIONAL)</a></li>
                     <li><a href="">ADMINISTRACIÓN DE CONTRATOS DE OBRAS PÚBLICAS, BIENES Y SERVICIOS</a></li>
                     <li><a href="">ACTUALIZACIÓN EN CONTRATOS PÚBLICOS</a></li>
                     <li><a href="">¿CÓMO ELABORAR UN PROGRAMA DE SALUD Y SEGURIDAD LABORAL?</a></li>
                     <li><a href="">AUTOESTIMA Y MOTIVACIÓN AL LOGRO (CLAVE DEL ÉXITO)</a></li>
                     <li><a href="">MANEJO DEL ESTRÉS EN TIEMPO DE CRISIS (TÉCNICAS DE RELAJACIÓN)</a></li>
                     <li><a href="">CALIDAD DE SERVICIOS AL CLIENTE</a></li>
                     <li><a href="">DESARROLLO DE HABILIDADES DE COUNSELING Y COACHING</a></li>
                     <li><a href="">FINANZAS PARA NO FINANCIEROS</a></li>
                     <li><a href="">PNL PARA NEGOCIACIONES EFECTIVAS</a></li>
                     <li><a href="">GERENCIA DE EVENTOS ESPECIALES Y PROTOCOLO</a></li>
                     <li><a href="">PRESENTACIONES ORALES EFECTIVAS</a></li>
                     
                    </ul>
                    &nbsp;
                    &nbsp;
                    
                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 655px">&nbsp;</div>
                </div>

                <div class="col-md-3" align="center">-->
                    
                </div>
            </div>
        
        <!--Fin de sección-->      
        </div>
    </div>
   
</section>

