
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_diplomado/diplomado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->
    
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">
                
                
                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/img_cursos/desarrollo_ habilidades.png"/></div>
                    &nbsp;
                   
                    
                </div>
                
              <!-- <div id="verLine1" class="col-md-1">
                    <div class="verticalLine" style="height: 249px">&nbsp;</div>
                </div>-->

                <div class="col-md-5" align="left">
                  <div><h4 class="titulo"><span style=" font-size:30px;">DESARROLLO DE HABILIDADES DE COUNSELING Y COACHING</span></h4>
                  
                  <p style="font-weight:bold; font-size:15px;">Objetivo general</p>
                  <p class="parrafo">Internalizar los principios básicos del Coaching , así como  la consejería en los procesos de trabajo aplicando los principios de comunicación  para lograr un clima organizacional dirigido a la excelencia laboral.
</p><br />

                  <p style="font-weight:bold; font-size:15px;">Dirigido a:</p>
                  <p class="parrafo">Estudiantes de cualquier carrera universitaria, profesionales de diversas áreas y todos aquellos interesados en la adquisición de nuevas herramientas que le permitan mejorar su desarrollo profesional y personal.</p><br />

                  <p style="font-weight:bold; font-size:15px;">Contenido:</p>
                  <ol type="I" class="parrafo">
                 
                    <li>El gerente como promotor y orientador de la dinámica organizacional</li>
                      	<ol type="disc" class="parrafo">
                            <li>El desarrollo de los subordinados.</li>
                          	<li>La evaluación y motivación de los subordinados. </li>
                        </ol>
                      
                      <li>Comunicación y liderazgo
                      <br />La comunicación organizacional:</li>
                      	<ol type="disc" class="parrafo">
                            <li>¿Qué pasa si no ocurre?</li>
                            <li>Agresión en la comunicación</li>
                            <li>Flujo de la comunicación en la organización</li>
                            <li>Redes de la comunicación</li>
                            <li>Sugerencias para reducir las consecuencias negativas de los rumores</li>
                            <li>Barreras para la comunicación eficaz en la organización</li>
                            <li>Recomendaciones para una comunicación eficaz en la organización</li>
                            <li>La comunicación y la visión</li>
						</ol>
                        
                        
                        <li>Coaching gerencial</li> 
                         	<ol type="disc" class="parrafo">
                                <li>Historia del Coaching</li>
                                <li>Concepto de Coaching</li>
                                <li>¿Cuándo dar Coaching?</li>
                                <li>Características del Coaching</li>
                                <li>Elementos Del Coaching</li>
                                <li>El Coach</li>
                                <li>Características del Coach</li>
                                <li>Valores del Coaching</li>
                                <li>Funciones del Coach</li>
                                <li>Conducta del Coach</li>
                                <li>Cualidades de un Coach efectivo</li>
                                <li>Diferencias entre gerentes y coaches</li>
							</ol>
                                          
                     </ol>
                     
                  <p style="font-weight:bold; font-size:15px;">Duración:</p>
                   <p class="parrafo">32 horas académicas (4 sábados).</p><br />
                   
                 <p style="font-weight:bold; font-size:15px;">Facilitador:</p>
                   <p class="parrafo">MCs. Jannette Valdez.</p><br />
                    

                  
                  </div>
                  &nbsp;
                  
                  


                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 680px">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="http://www.urbeinternacional.com/#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
             &nbsp;
              
        <!--Nueva sección de Cursos-->
          <!-- <div class="row">
                <div class="col-md-2">
                    <h4 class="titulo"><span style=" font-weight:bold;padding-left:35px;">CURSOS</span></h4>
                </div>

               <div id="verLine1" class="col-md-1">
                    <div class="verticalLine" style="height: 655px">&nbsp;</div>
                </div>

                <div class="col-md-5" align="left">
                     <div style=" margin-left:25px;">
                  <img class="img-responsive" src="img/img_diplomado/img_cursos.jpg"/>
                  </div>
                  &nbsp;
                    <ul class="titulo">
                     <li><a href="">NORMAS ISO 9001:2015 “RUMBO A LA CERTIFICACIÓN”</a></li>
                     <li><a href="">HERRAMIENTAS PARA EL ASEGURAMIENTO DE LA CALIDAD</a></li>
                     <li><a href="">ADMINISTRACIÓN DE INVENTARIOS</a></li>
                     <li><a href="">PETRÓLEO PARA NO PETROLEROS</a></li>
                     <li><a href="">GERENCIANDO UNA EMPRESA</a></li>
                     <li><a href="">EDUCANDO SIN IRA (EL MANEJO DEL AUTOCONTROL EMOCIONAL)</a></li>
                     <li><a href="">ADMINISTRACIÓN DE CONTRATOS DE OBRAS PÚBLICAS, BIENES Y SERVICIOS</a></li>
                     <li><a href="">ACTUALIZACIÓN EN CONTRATOS PÚBLICOS</a></li>
                     <li><a href="">¿CÓMO ELABORAR UN PROGRAMA DE SALUD Y SEGURIDAD LABORAL?</a></li>
                     <li><a href="">AUTOESTIMA Y MOTIVACIÓN AL LOGRO (CLAVE DEL ÉXITO)</a></li>
                     <li><a href="">MANEJO DEL ESTRÉS EN TIEMPO DE CRISIS (TÉCNICAS DE RELAJACIÓN)</a></li>
                     <li><a href="">CALIDAD DE SERVICIOS AL CLIENTE</a></li>
                     <li><a href="">DESARROLLO DE HABILIDADES DE COUNSELING Y COACHING</a></li>
                     <li><a href="">FINANZAS PARA NO FINANCIEROS</a></li>
                     <li><a href="">PNL PARA NEGOCIACIONES EFECTIVAS</a></li>
                     <li><a href="">GERENCIA DE EVENTOS ESPECIALES Y PROTOCOLO</a></li>
                     <li><a href="">PRESENTACIONES ORALES EFECTIVAS</a></li>
                     
                    </ul>
                    &nbsp;
                    &nbsp;
                    
                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 655px">&nbsp;</div>
                </div>

                <div class="col-md-3" align="center">-->
                    
                </div>
            </div>
        
        <!--Fin de sección-->      
        </div>
    </div>
   
</section>

