
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_diplomado/diplomado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div id="principal" class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">


                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/img_cursos/finanzas_nofinan.png"/></div>
                    &nbsp;


                </div>

                <!-- <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 249px">&nbsp;</div>
                  </div>-->

                <div class="col-md-5" align="left">
                    <div><h4 class="titulo"><span style=" font-size:30px;">FINANZAS PARA NO FINANCIEROS</span></h4>

                        <p style="font-weight:bold; font-size:15px;">Objetivo general</p>
                        <p class="parrafo">El curso introduce al participante en los conceptos de la actividad financiera organizacional, para llegar a desarrollar una correcta Gestión de las Finanzas en las empresas, en el corto y largo a plazo. Con el curso se aprende a analizar el estado de resultados y balance general, ratios de actividad y demás factores económicos que afectan la implementación e interpretación de las estrategias financieras de una organización.
                        </p><br />

                        <p style="font-weight:bold; font-size:15px;">Dirigido a:</p>
                        <p class="parrafo">Capital Humano que requiera de una formación financiera que contribuya a aumentar su crecimiento gerencial integral, para así contribuir con mayor acierto a la orientación idónea del negocio al ocupar diversas posiciones en una organización.</p><br />

                        <p style="font-weight:bold; font-size:15px;">Contenido:</p>
                        <ul class="parrafo">
                            <li>Unidad I: Aspectos básicos de las finanzas y su aplicación en la dinámica empresarial</li>
                            <li>Unidad II: El interés y sus tipos
                                <ul class="parrafo">
                                    <li>Interés Simple: Definición, Formulas y Aplicación</li>
                                    <li>Interés Compuesto: Definición, Formulas y Aplicación</li>
                                </ul> 
                            </li>                   
                            <li>Unidad III: Los Estados Financieros Básicos</li>
                            <ul class="parrafo">
                                <li>El Estado de Resultado: Conceptos, partidas e interpretación. Concepto del beneficio (Ingresos, Costos, Gastos). Determinación del costo de venta. Actividades de aprendizaje en resolución de casos prácticos.</li>
                                <li>El Balance General: El activo, el pasivo y el capital. Conceptos, partidas e interpretación  Actividades de aprendizaje en resolución de casos prácticos.</li>
                                <li>El Flujo de Efectivo: Concepto y metodología. Actividades de aprendizaje en resolución de casos prácticos.</li>
                            </ul>

                            <li>Unidad IV: Análisis de estados financieros
                                <ul>
                                    <li>Análisis por porcentaje: Método Horizontal y Vertical. Actividades de aprendizaje en la resolución de casos prácticos</li>
                                    <li>Análisis de Ratios o Índices: De Solvencia. De Liquidez. De Actividad. De Endeudamiento. De Rentabilidad. Actividades de aprendizaje en la resolución de casos prácticos</li>
                                </ul>
                            </li>
                            <li>Unidad V: Análisis de técnica de certidumbre y riesgo
                                <ul>
                                    <li>Tasa Promedio de Rendimiento</li>
                                    <li>Periodo de Recuperación</li>
                                    <li> Valor Presente Neto</li>
                                    <li>Tasa Interna de Retorno</li>
                                </ul>
                            </li>
                        </ul>
                        <p style="font-weight:bold; font-size:15px;">Duración:</p>
                        <p class="parrafo">32 horas.</p><br />

                        <p style="font-weight:bold; font-size:15px;">Facilitador:</p>
                        <p class="parrafo">MSc. Luis Belloso.</p><br />  
                        <div layout="row" ng-if="((PlanesFinanciamiento.length > 0) && (isLogged) && (puedeInscribir === true))">
                            <div layout="column" flex="100">
                                <md-button class="md-raised" style="background-color:#21569f;color:white;" ng-click="goOn()">Inscribirse</md-button>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!PlanesFinanciamiento && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Cargando...</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(PlanesFinanciamiento.length === 0 && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>La inscripción para este estudio no está disponible.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(puedeInscribir === false && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Ya está inscrito en este estudio.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!isLogged)">
                            <div layout="column" flex="100" align="center">
                                <h2>Debe iniciar sesión si desea inscribirse en este estudio.</h2>
                            </div>
                        </div>
                    </div>
                    &nbsp;




                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
            &nbsp;

            <!--Nueva sección de Cursos-->
            <!-- <div class="row">
                  <div class="col-md-2">
                      <h4 class="titulo"><span style=" font-weight:bold;padding-left:35px;">CURSOS</span></h4>
                  </div>
  
                 <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 655px">&nbsp;</div>
                  </div>
  
                  <div class="col-md-5" align="left">
                       <div style=" margin-left:25px;">
                    <img class="img-responsive" src="img/img_diplomado/img_cursos.jpg"/>
                    </div>
                    &nbsp;
                      <ul class="titulo">
                       <li><a href="">NORMAS ISO 9001:2015 “RUMBO A LA CERTIFICACIÓN”</a></li>
                       <li><a href="">HERRAMIENTAS PARA EL ASEGURAMIENTO DE LA CALIDAD</a></li>
                       <li><a href="">ADMINISTRACIÓN DE INVENTARIOS</a></li>
                       <li><a href="">PETRÓLEO PARA NO PETROLEROS</a></li>
                       <li><a href="">GERENCIANDO UNA EMPRESA</a></li>
                       <li><a href="">EDUCANDO SIN IRA (EL MANEJO DEL AUTOCONTROL EMOCIONAL)</a></li>
                       <li><a href="">ADMINISTRACIÓN DE CONTRATOS DE OBRAS PÚBLICAS, BIENES Y SERVICIOS</a></li>
                       <li><a href="">ACTUALIZACIÓN EN CONTRATOS PÚBLICOS</a></li>
                       <li><a href="">¿CÓMO ELABORAR UN PROGRAMA DE SALUD Y SEGURIDAD LABORAL?</a></li>
                       <li><a href="">AUTOESTIMA Y MOTIVACIÓN AL LOGRO (CLAVE DEL ÉXITO)</a></li>
                       <li><a href="">MANEJO DEL ESTRÉS EN TIEMPO DE CRISIS (TÉCNICAS DE RELAJACIÓN)</a></li>
                       <li><a href="">CALIDAD DE SERVICIOS AL CLIENTE</a></li>
                       <li><a href="">DESARROLLO DE HABILIDADES DE COUNSELING Y COACHING</a></li>
                       <li><a href="">FINANZAS PARA NO FINANCIEROS</a></li>
                       <li><a href="">PNL PARA NEGOCIACIONES EFECTIVAS</a></li>
                       <li><a href="">GERENCIA DE EVENTOS ESPECIALES Y PROTOCOLO</a></li>
                       <li><a href="">PRESENTACIONES ORALES EFECTIVAS</a></li>
                       
                      </ul>
                      &nbsp;
                      &nbsp;
                      
                  </div>
  
                  <div id="verLine2" class="col-md-1">
                      <div class="verticalLine" style="height: 655px">&nbsp;</div>
                  </div>
  
                  <div class="col-md-3" align="center">-->

        </div>
    </div>

    <!--Fin de sección-->      

</section>

