
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/imgs_postgrado/post_grado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">


                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/imgs_postgrado/ge_educ_superior.png"/></div>
                    &nbsp;


                </div>

                <!-- <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 249px">&nbsp;</div>
                  </div>-->

                <div class="col-md-5" align="left">
                    <div><h4 class="titulo"><span style=" font-size:30px;">GERENCIA EN LA EDUCACIÓN SUPERIOR</span></h4>

                        <div><iframe src="templates/postdoctorados/costos-postdoctorados.html" frameborder="0" width="530" height="170" scrolling="no"></iframe></div>

                        <p class="parrafo">Los programas postdoctorales son estudios orientados a dar continuidad a los programas doctorales que se realizan en el país o en el extranjero. Su objetivo es proseguir con las actividades de proposición, dirección y realización de investigaciones; con la finalidad de fomentar y divulgar los resultados de la producción de conocimiento y consolidar una comunidad de investigadores.
                        </p><br />

                        <p style="font-weight:bold; font-size:15px;">Duración: Un año</p><br />

                        <p style="font-weight:bold; font-size:15px;">&nbsp;&nbsp;&nbsp;Pensum de Estudio:</p>
                        <div class="pensum-postdoc">
                            <iframe src="https://www.urbe.edu/Pensum/PensumView.do?idPensum=736" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe>
                        </div><br />  
                        <div layout="row" ng-if="((PlanesFinanciamiento.length > 0) && (isLogged) && (puedeInscribir === true))">
                            <div layout="column" flex="100">
                                <md-button class="md-raised" style="background-color:#21569f;color:white;" ng-click="goOn()">Inscribirse</md-button>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!PlanesFinanciamiento && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Cargando...</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(PlanesFinanciamiento.length === 0 && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>La inscripción para este estudio no está disponible.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(puedeInscribir === false && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Ya está inscrito en este estudio.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!isLogged)">
                            <div layout="column" flex="100" align="center">
                                <h2>Debe iniciar sesión si desea inscribirse en este estudio.</h2>
                            </div>
                        </div>
                    </div>



                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 800px">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
            &nbsp;


        </div>
    </div>

    <!--Fin de sección-->      
</div>
</div>

</section>

