

<div id="footer">
    
    <div class="row" id="footer-enlaces">
        
        <div class="col-md-6 col-lg-6">
            
            <h2 class="footer-titulo">ENLACES RÁPIDOS</h2>
            <div class="enlaces">
                <ul>
                    <li>DIPLOMADOS <span>|</span> </li>
                    <li>POSTGRADO <span>|</span> </li>
                    <li>UNIVERSIDAD CORPORATIVA</li>
                </ul>
                
                 <ul>
                    <li> CERTIFICACIÓN INTERNACIONAL <span>|</span> </li>
                    <li> NOTICIAS <span>|</span> </li>
                    <li> EVENTOS</li>
                </ul>
                
            </div>
        </div>
        
        
        
        <div class="col-md-6 col-lg-6 snw">
            
            <h2 class="footer-titulo">MANTENTE CONECTADO</h2> 
            
            <div class="col-md-6 col-lg-6 " style="  width: 32%; margin-top: -4%; ">
                <ul>
                    <li ><span id="imgSocial"><img src="img/img_home/facebook.png"/></span>Facebook</li>
                    <li class="liSocial"><span>Me Gusta</span></li>
                    <li ><span id="imgSocial"><img src="img/img_home/linkedin.png"/></span>LinKedin</li>
                    <li class="liSocial"><span>Encuentranos</span></li>
                    
                </ul>
            </div>
            <div class="col-md-6 col-lg-6" style="  width: 32%; margin-top: -4%;">
                <ul>
                    <li><span id="imgSocial"><img src="img/img_home/twitter.png"/></span>Twitter </li>
                    <li class="liSocial"><span>Siguenos</span></li>
                    <li><span id="imgSocial"><img src="img/img_home/youtube.png"/></span>Youtube</li>
                    <li class="liSocial"><span>Suscribete</span></li>
                </ul>
            </div>
            
        </div>
    </div>
   
    
    <div class="row">
        
        <div class="col-md-4 col-lg-4"></div>
        <div class="col-md-4 col-lg-4" id="copyright">
            <ul>
                <li id="footer-logo"><img src="img/img_home/logo_blanco_30.png"/></li>
                <li>URBE - 2008 Todos los Derechos Reservados.
                    <br>
                    Condiciones de uso - Términos legales URBE S.A.
                </li>
               
            </ul>
            </div>
        <div class="col-md-4 col-lg-4"></div>
        
            
        </div>
    </div>
    
    
    
</div>

