<div id="footer">
    <div class="row" id="footer-enlaces">
        <div class="col-md-6 col-lg-6">
            <h2 class="footer-titulo">ENLACES RÁPIDOS</h2>
            <div class="enlaces">
                <ul>
                    <li><a href="www.urbeinternacional.com/index.html#/diplomados">DIPLOMADOS</a>
                        <span>|</span>
                    </li>
                    <li><a href="www.urbeinternacional.com/index.html#/postgrado">POSTGRADO</a>
                        <span>|</span>
                    </li>
                    <li><a href="www.urbeinternacional.com/index.html#/universidad-corporativa">UNIVERSIDAD CORPORATIVA</a></li>
                </ul>
                <ul>
                    <li><a href="www.urbeinternacional.com/index.html#/certificacion-internacional">CERTIFICACIÓN INTERNACIONAL</a>
                        <span>|</span>
                    </li>
                    <li><a href="www.urbeinternacional.com/index.html#/noticias">NOTICIAS</a>
                        <span>|</span>
                    </li>
                    <li><a href="www.urbeinternacional.com/index.html#/eventos"><p class="footer-links">EVENTOS</p></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 snw">
            <h2 class="footer-titulo">MANTENTE CONECTADO</h2>
            <div class="col-md-4 col-lg-4 " style="  width: 33%; margin-top: -4%;margin-left: -6%;">
                <ul>
                    <li>
                        <span id="imgSocial">
                            <a href="www.facebook.com/urbeinternacional"><img src="img/img_home/facebook.png"/></a>
                        </span>Facebook</li>
                    <li class="liSocial">
                        <span>Me Gusta</span>
                    </li>
                    <li>
                        <span id="imgSocial">
                            <a href="https://instagram.com/urbe_intl/"><img src="img/img_home/insta.png"/></a>
                        </span>Instagram</li>
                    <li class="liSocial">
                        <span>Encuentranos</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4" style="  width: 32%; margin-top: -4%;">
                <ul>
                    <li>
                        <span id="imgSocial">
                            <a href="https://twitter.com/URBE_Intl"><img src="img/img_home/twitter.png"/></a>
                        </span>Twitter</li>
                    <li class="liSocial">
                        <span>Siguenos</span>
                    </li>
                    <li>
                        <span id="imgSocial">
                            <a href="https://www.youtube.com/user/infourbe"><img src="img/img_home/youtube.png"/></a>
                        </span>Youtube</li>
                    <li class="liSocial">
                        <span>Suscribete</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4" style="  width: 32%; margin-top: -4%;">
                <ul>
                    <li>
                        <span id="imgSocial">
                            <a href=""><img src="img/img_home/skype.png"/></a>
                        </span>Skype</li>
                    <li class="liSocial">
                        <span>Urbe_ead</span>
                    </li>
                    <li>
                        <span id="imgSocial">
                            <a href="mailto:info@urbeinternacional.com"><img src="img/img_home/email.png"/></a>
                        </span>Gmail</li>
                    <li class="liSocial">
                        <span>Suscribete</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-md-4 col-lg-4"></div>-->
        <div class="col-md-12 col-lg-12" id="copyright">
            <ul>
                <li class="text-center">
                    <img src="img/img_home/logo_blanco_30.png" />
                    <br>
                    <br>2250 NW 114TH Ave Unit 1Q MCO 3330 Miami, Florida. 33172
                    <br>Teléfonos: +1(305) 454-8961 / +1(305) 454-6417
                    <br>URBE - 2015 Todos los Derechos Reservados.
                    <i class="fa fa-copyright"></i>
                    <br>Condiciones de uso - Términos legales URBE S.A.</li>
            </ul>
        </div>
        <!--<div class="col-md-4 col-lg-4"></div>--></div>
</div>
</div>