
<a href="http://www.urbeinternacional.com/index.html#/">
    <div id="logo" ng-controller="ctrlPortal">
    </div>

</a>

<div class="container-fluid" style="background-color: #f8f8f8" ng-controller="SecurityController">
    <div class="collapse navbar-collapse">

        <div class="login" id="login" >

            <form id="frmLogin" class="navbar-form navbar-right"  role="form" ng-if="profile === false">
                <div class="form-group">

                    <input  name="user" requiered ng-model="user" type="text" class="form-control entrada" placeholder="&#xf007;   Usuario">
                    <input name="psw" type="password" required ng-model="password" class="form-control entrada" placeholder="&#xf023;   Contraseña">
                    <button ng-click="login()" type="button" class="btn btn-default">></button>

                </div>

            </form>
            

            <div class="login-options" ng-if="profile === false">
                <ul>
                    <li><a>Registro</a></li>
                    |
                    <li><a>Recuperar Contraeña</a></li>
                </ul>
            </div>
        </div>


        <div class="opciones-superiores" id="opcSup">
            <ul>
                <li><a href="#/nosotros">NOSOTROS&nbsp;&nbsp;|</a></li>                    
                <li><a href="#/estudios">ESTUDIOS&nbsp;&nbsp;|</a></li>
                <li><a href="#/soporte">SOPORTE</a></li>
            </ul>
        </div>
    </div>
</div>

<!--Navbar-->
<nav class="navbar navbar-default" style="margin-bottom: 0%;border-radius: 0%; background-color: white; position: inherit;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <!--  <a class="navbar-brand" href="#">URBE INT</a> -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="float:right" >
            <ul class="nav navbar-nav">
                <li><a href="#/diplomado">DIPLOMADOS</a></li>
                <li><a href="#/postgrado">POSTGRADO</a></li>
                <li><a href="#/universidad-corporativa">UNIVERSIDAD CORPORATIVA</a></li>
                <li><a href="#/certificacion">CERTIFICACIÓN INTERNACIONAL</a></li> 
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control entrada" placeholder="&#xf002;    Search">
                </div>
            </form>
        </div>
    </div>
</nav>

