<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!--<link href="styles/pensa.css" rel="stylesheet" type="text/css">-->
       
<style type="text/css">

.th_table{
	background-color:#21569f;
	color:#FFF; 
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;		
}

.td_table{
font-family:Arial, Helvetica, sans-serif;		
font-size:12px;
color:#000;	
	
}

</style>
</head>

<div>
<p style="font-size:17px; font-family:Arial, Helvetica, sans-serif;"> <strong>Financiamiento<br />
				</strong><span style="font-size:13px"><strong><br />
				Inversión Total: $750,00<br />
				Valor UC: $30,00</strong></strong></span>
</p>
<table class="table table-hover" width="483" border="0";>
  <tr>
                <th width="70" class="th_table"><div align="center">Período</div></th>
                <th width="63" class="th_table"><div align="center">Duración / UC</div></th>
                <th width="51" class="th_table"><div align="center">Inicial</div></th>
                <th width="67" class="th_table"><div align="center">Cuota 1</div></td>
    <th width="67" class="th_table"><div align="center">Cuota 2</div></td>
    <th width="67" class="th_table"><div align="center">Cuota 3</div></td>
    <th width="67" class="th_table"><div align="center">Cuota 4</div></td>
               </tr>
                
                <tr>
                <td height="20" class="td_table"><div align="center">1er. Semestre</div></td>
                <td class="td_table"><div align="center">200h. / <br />
                25</div></td>
                <td class="td_table"><div align="center">$225,00</div></td>
                <td class="td_table"><div align="center">$131,25</div></td>
                <td class="td_table"><div align="center">$131,25</div></td>
                <td class="td_table"><div align="center">$131,25</div></td>
                <td class="td_table"><div align="center">$131,25</div></td>
                </tr>


</table>   
</div>            
