
<!--Separador-Negro-->



<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_diplomado/diplomado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div id="principal" class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">


                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/img_diplomado/gerencia_operaciones.png"/></div>
                    &nbsp;


                </div>

                <!-- <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 249px">&nbsp;</div>
                  </div>-->

                <div class="col-md-5" align="left">
                    <div><h4 class="titulo"><span style=" font-size:25px;">DIPLOMADO EN GERENCIA DE OPERACIONES Y PRODUCCIÓN</span></h4>

                        <div><iframe src="templates/diplomados/costos-diplomados.html" frameborder="0"" width="530" height="200" scrolling="no"></iframe></div>
                        <p style="font-weight:bold; font-size:15px;">Objetivo general</p>
                        <p class="parrafo">Ofrecer soporte teórico y práctico que facilite la planificación y la toma de decisiones en el área de operaciones y producción, de forma tal que cada participante evalúe alternativas para aplicarlas dentro de su puesto de trabajo u organización.
                        </p><br />

                        <p style="font-weight:bold; font-size:15px;">Dirigido a:</p>
                        <p class="parrafo">Estudiantes del último año, profesionales con responsabilidades operativas y de producción en empresas públicas y privadas, administrativas y de ingeniería; que pretendan desarrollar destrezas en los ámbitos de la dirección de operaciones.</p><br />

                        <p style="font-weight:bold; font-size:15px;">Plan de estudio:</p>
                        <p class="parrafo">El Diplomado consta de 7 Módulos, con recursos instruccionales, tales como: videos y ejercicios interactivos con un alto grado de participación y compromiso, están centradas en el participantes, quién controla su aprendizaje y es responsable de su autoevaluación.</p><br />

                        <p style="font-weight:bold; font-size:15px;">Horario:</p>
                        <p class="parrafo">Tutorías (en línea), entre lunes y viernes a partir de las 6:00 p.m., dos sesiones de tutorías semanales.</p><br />


                        <p style="font-weight:bold; font-size:15px;">Duración:</p>
                        <p class="parrafo">05 meses.</p><br />

                        <p style="font-weight:bold; font-size:15px;">Requisitos de egreso:</p>
                        <p class="parrafo">Aprobar todos los Módulos con una nota mayor o igual a 15 pts.</p>
                        <br />
                        <p style="font-weight:bold; font-size:15px;">Diploma que se otorga:</p>
                        <p class="parrafo">Diplomado en Gerencia de Operaciones y Producción.</p>
                        <p class="parrafo">&nbsp;</p>
                        <p style="font-weight:bold; font-size:15px;">&nbsp;&nbsp;&nbsp;Módulos:</p>
                        <div class="modulos-extension">
                            <iframe src="https://www.urbe.edu/Pensum/PensumView.do?idPensum=1120" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe>
                        </div><br />  
                        <div layout="row" ng-if="((PlanesFinanciamiento.length > 0) && (isLogged) && (puedeInscribir === true))">
                            <div layout="column" flex="100">
                                <md-button class="md-raised" style="background-color:#21569f;color:white;" ng-click="goOn()">Inscribirse</md-button>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!PlanesFinanciamiento && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Cargando...</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(PlanesFinanciamiento.length === 0 && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>La inscripción para este estudio no está disponible.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(puedeInscribir === false && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Ya está inscrito en este estudio.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!isLogged)">
                            <div layout="column" flex="100" align="center">
                                <h2>Debe iniciar sesión si desea inscribirse en este estudio.</h2>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
            &nbsp;


        </div>
    </div>

    <!--Fin de sección-->      

</section>

