
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_diplomado/diplomado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->
    
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">
                
                
                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/img_diplomado/gerencia_financiera.png"/></div>
                    &nbsp;
                   
                    
                </div>
                
              <!-- <div id="verLine1" class="col-md-1">
                    <div class="verticalLine" style="height: 249px">&nbsp;</div>
                </div>-->

                <div class="col-md-5" align="left">
                  <div><h4 class="titulo"><span style=" font-size:25px;">DIPLOMADO EN GERENCIA FINANCIERA</span></h4>
                  
                  <div><iframe src="templates/diplomados/costos-diplomados.html" frameborder="0"" width="530" height="200" scrolling="no"></iframe></div>
                  
                  <p style="font-weight:bold; font-size:15px;">Objetivo general</p>
                  <p class="parrafo">Proporcionar a los participantes conceptos, técnicas y herramientas básicas para el manejo óptimo de las finanzas dentro de una organización y propiciar el desarrollo de capacidades para la toma asertiva de decisiones financieras y bursátiles.
</p><br />

                  <p style="font-weight:bold; font-size:15px;">Dirigido a:</p>
                  <p class="parrafo">Profesionales, asesores, consultores y personas interesadas en profundizar y desarrollar conocimientos en el área financiera, bancaria, bursátil y de seguros. Además de personas interesadas en mejorar el manejo de sus finanzas personales.</p><br />

                  <p style="font-weight:bold; font-size:15px;">Plan de estudio:</p>
                  <p class="parrafo">El Diplomado consta de 11 módulos, cuyas actividades con alto grado de participación y compromiso, están centradas en el participante, quién controla su aprendizaje y es responsable de su autoevaluación, bajo la metodología aprender haciendo.</p><br />

                  <p style="font-weight:bold; font-size:15px;">Horario:</p>
                  <p class="parrafo">Tutorías (en línea), entre lunes y viernes a partir de las 6:00 p.m., dos sesiones de tutorías semanales.</p><br />
                  
                  
                  <p style="font-weight:bold; font-size:15px;">Duración:</p>
                   <p class="parrafo">06 meses.</p><br />
                   <p style="font-weight:bold; font-size:15px;">Requisitos de egreso:</p>
                   <p class="parrafo">Aprobar todos los Módulos con una nota mayor o igual a 15 pts.</p><br />
                 <p style="font-weight:bold; font-size:15px;">Diploma que se otorga:</p>
                   <p class="parrafo">Diplomado en Gerencia Financiera.</p>
                   <p class="parrafo">&nbsp;</p>
                   <p style="font-weight:bold; font-size:15px;">&nbsp;&nbsp;&nbsp;Módulos:</p>
                   <div class="modulos-extension">
                     <iframe src="https://www.urbe.edu/Pensum/PensumView.do?idPensum=1140" frameborder="0"" hspace="0" vspace="0" scrolling="no"></iframe>
	</div><br />  

                  
                  </div>
                  &nbsp;
                  
                  


                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 1400px">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="http://www.urbeinternacional.com/#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
             &nbsp;
              
                </div>
            </div>
        
        <!--Fin de sección-->      
        </div>
    </div>
   
</section>

