
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/imgs_postgrado/post_grado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->
    
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">
                
                
                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/imgs_postgrado/cs_men_gerencia.png"/></div>
                    &nbsp;
                   
                    
                </div>
                
              <!-- <div id="verLine1" class="col-md-1">
                    <div class="verticalLine" style="height: 249px">&nbsp;</div>
                </div>-->

                <div class="col-md-5" align="left">
                  <div><h4 class="titulo"><span style=" font-size:30px;">CIENCIAS DE LA EDUCACIÓN, MENCIÓN GERENCIA EDUCATIVA</span></h4>
                  <div><iframe src="templates/maestrias/costos-maestria.html" frameborder="0"" width="530" height="200" scrolling="no"></iframe></div>
                  
                  <p class="parrafo">El Programa de Postgrado Ciencias de la Educación, Mención Gerencia Educativa, nivel Maestría, tiene como propósito contribuir a la formación de Docentes Investigadores de alto nivel académico, con dominio en las teorías y técnicas gerenciales más actuales aplicadas a la Gerencia Educativa de los distintos niveles y modalidades del Sistema Educativo Venezolano.

</p><br />

                  <p style="font-weight:bold; font-size:15px;">Régimen Académico</p>
<p class="parrafo">El programa consta de cuatro (4) períodos semestrales consecutivos. El contenido del programa estará disponible en Internet las 24 horas.</p><br />

<p style="font-weight:bold; font-size:15px;">&nbsp;&nbsp;&nbsp;Pensum de Estudio:</p>
                   <div class="pensum-especializacion">
                     <iframe src="https://www.urbe.edu/Pensum/PensumView.do?idPensum=987" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe>
	</div><br />
                
                  </div>
                  &nbsp;
                

                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 1050px">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="http://www.urbeinternacional.com/#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
             &nbsp;
              
                  
                </div>
            </div>
        
        <!--Fin de sección-->      
        </div>
    </div>
   
</section>

