
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/imgs_postgrado/post_grado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div class="container-fluid " style="padding: 0%;margin: 0%">

            <div id="principal" class="row">


                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/imgs_postgrado/proyecto_investigacion.png"/></div>
                    &nbsp;


                </div>

                <!-- <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 249px">&nbsp;</div>
                  </div>-->

                <div class="col-md-5" align="left">
                    <div><h4 class="titulo"><span style=" font-size:30px;">GERENCIA DE PROYECTOS DE INVESTIGACIÓN Y DESARROLLO</span></h4>

                        <div><iframe src="templates/maestrias/costos-maestria.html" frameborder="0"" width="530" height="200" scrolling="no"></iframe></div>

                        <p class="parrafo">El Programa de Postgrado en Gerencia de Proyectos de Investigación y Desarrollo, nivel Maestría, tiene como propósito contribuir a la formación de expertos con elevada calificación académica, para actuar eficaz y eficientemente en la planificación, formulación, dirección, ejecución, control, evaluación y gerencia, tanto de programas y proyectos como de unidades o centros de investigación y desarrollo.

                        </p><br />

                        <p style="font-weight:bold; font-size:15px;">Régimen Académico</p>
                        <p class="parrafo">El programa consta de cuatro (4) períodos semestrales consecutivos. El contenido del programa estará disponible en Internet las 24 horas.</p><br />

                        <p style="font-weight:bold; font-size:15px;">&nbsp;&nbsp;&nbsp;Pensum de Estudio:</p>
                        <div class="pensum-especializacion">
                            <iframe src="https://www.urbe.edu/Pensum/PensumView.do?idPensum=971" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe>
                        </div><br />  
                        <div layout="row" ng-if="((PlanesFinanciamiento.length > 0) && (isLogged) && (puedeInscribir === true))">
                            <div layout="column" flex="100">
                                <md-button class="md-raised" style="background-color:#21569f;color:white;" ng-click="goOn()">Inscribirse</md-button>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!PlanesFinanciamiento && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Cargando...</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(PlanesFinanciamiento.length === 0 && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>La inscripción para este estudio no está disponible.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(puedeInscribir === false && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Ya está inscrito en este estudio.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!isLogged)">
                            <div layout="column" flex="100" align="center">
                                <h2>Debe iniciar sesión si desea inscribirse en este estudio.</h2>
                            </div>
                        </div>
                    </div>



                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
            &nbsp;


        </div>
    </div>

    <!--Fin de sección-->     

</section>

