
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_certificacion/certinternacional_banner.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div id="principal" class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">


                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/img_certificacion/ccna_security.jpg"/></div>
                    &nbsp;


                </div>

                <!-- <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 249px">&nbsp;</div>
                  </div>-->

                <div class="col-md-5" align="left">
                    <div>
                        <h4 class="titulo"><span style=" font-size:30px;">CCNA SECURITY <br />
                                (CURSO BÁSICO DE SEGURIDAD DE REDES)</span></h4>

                        <p class="parrafo">Aprenda a diseñar, implementar y brindar soporte a dispositivos en red para cubrir la creciente demanda de profesionales en seguridad de redes.
                        </p><br />  
                        <p style="font-weight:bold; font-size:15px;">Objetivo:</p>
                        <p class="parrafo">El currículo de CCNA Security lo prepara para diseñar, implementar y mantener la seguridad de los dispositivos en red. Agregue una especialización en seguridad a sus aptitudes de redes de CCNA y expanda sus oportunidades profesionales.
                        </p><br />
                        <ul class="parrafo">
                            <li>Desarrolle un conocimiento práctico sobre los puntos básicos, las herramientas y las configuraciones de seguridad de la red.</li>
                            <li>Estudie con un instructor en un aula y acceda a contenido especializado en línea, en cualquier momento.</li>
                            <li>Practique lo que aprende en equipos reales y con la herramienta de simulación Cisco Packet Tracer.</li> 
                            <li>Obtenga comentarios inmediatos sobre su trabajo en pruebas y cuestionarios integrados.</li>
                            <li>Prepárese para el lugar de trabajo con proyectos y presentaciones de colaboración. </li> 
                            <li>Obtenga comentarios inmediatos sobre su trabajo en pruebas y cuestionarios integrados.</li>
                            <li>Conéctese con la comunidad global de Cisco Networking Academy.</li> 
                        </ul>


                        <p style="font-weight:bold; font-size:15px;">Dirigido a:</p>
                        <p class="parrafo">A medida que las personas, los procesos, los datos y las cosas se conectan cada vez más, la demanda de analistas de seguridad de la información aumenta rápidamente. El currículo de Cisco CCNA Security le permite desarrollar las destrezas que necesita para obtener un empleo y tener éxito en los trabajos relacionados con la seguridad de la red. Reconocido por la Agencia Nacional de Seguridad (NSA) y el Comité sobre Sistemas de Seguridad Nacional (CNSS) de los Estados Unidos por su cumplimiento del estándar de capacitación CNSS 4011.</p>
                        <p class="parrafo">Algunas opciones de desarrollo profesional son: especialista en seguridad de red, administrador de seguridad, ingeniero en seguridad de redes, profesional de seguridad de la información, y más.</p>
                        <br />



                        <p style="font-weight:bold; font-size:15px;">Certificación:</p>
                        <p class="parrafo">CCNA Security</p><br />

                        <p style="font-weight:bold; font-size:15px;">Duración:</p>
                        <p class="parrafo">96 Horas.</p><br />
                        <p style="font-weight:bold; font-size:15px;">Inversión total</p>

                        <table class="table table-hover" width="100" border="0";>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF; font-size:15px;">Período</th>
                                <th style="background-color:#103b70; color:#FFF; font-size:15px;">Inversion</th>

                            </tr>

                            <tr>
                                <td style="font-size:15px; font-weight:bold;">Cisco</td>
                                <td style="font-size:15px;">$378,00</td>
                            </tr>



                        </table>

                        <p style="font-weight:bold; font-size:15px;">Financiamiento</p>
                        <table class="table table-hover" width="500" border="0";>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF; font-size:15px;">Inicial</th>
                                <th style="background-color:#103b70; color:#FFF; font-size:15px;">Cuota 1</th>
                                <th style="background-color:#103b70; color:#FFF; font-size:15px;">Cuota 2</th>
                                <th style="background-color:#103b70; color:#FFF; font-size:15px;">Cuota 3</th>
                            </tr>  

                            <tr>
                                <td style="font-size:15px;">$113,40</td>
                                <td style="font-size:15px;">$88,20</td>
                                <td style="font-size:15px;">$88,20</td>
                                <td style="font-size:15px;">$88,20</td>
                            </tr>

                        </table>     
                        <div layout="row" ng-if="((PlanesFinanciamiento.length > 0) && (isLogged) && (puedeInscribir === true))">
                            <div layout="column" flex="100">
                                <md-button class="md-raised" style="background-color:#21569f;color:white;" ng-click="goOn()">Inscribirse</md-button>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!PlanesFinanciamiento && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Cargando...</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(PlanesFinanciamiento.length === 0 && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>La inscripción para este estudio no está disponible.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(puedeInscribir === false && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Ya está inscrito en este estudio.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!isLogged)">
                            <div layout="column" flex="100" align="center">
                                <h2>Debe iniciar sesión si desea inscribirse en este estudio.</h2>
                            </div>
                        </div>
                    </div>
                    &nbsp;




                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
            &nbsp;

            <!--Nueva sección de Cursos-->
            <!-- <div class="row">
                  <div class="col-md-2">
                      <h4 class="titulo"><span style=" font-weight:bold;padding-left:35px;">CURSOS</span></h4>
                  </div>
  
                 <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 655px">&nbsp;</div>
                  </div>
  
                  <div class="col-md-5" align="left">
                       <div style=" margin-left:25px;">
                    <img class="img-responsive" src="img/img_diplomado/img_cursos.jpg"/>
                    </div>
                    &nbsp;
                      <ul class="titulo">
                       <li><a href="">NORMAS ISO 9001:2015 “RUMBO A LA CERTIFICACIÓN”</a></li>
                       <li><a href="">HERRAMIENTAS PARA EL ASEGURAMIENTO DE LA CALIDAD</a></li>
                       <li><a href="">ADMINISTRACIÓN DE INVENTARIOS</a></li>
                       <li><a href="">PETRÓLEO PARA NO PETROLEROS</a></li>
                       <li><a href="">GERENCIANDO UNA EMPRESA</a></li>
                       <li><a href="">EDUCANDO SIN IRA (EL MANEJO DEL AUTOCONTROL EMOCIONAL)</a></li>
                       <li><a href="">ADMINISTRACIÓN DE CONTRATOS DE OBRAS PÚBLICAS, BIENES Y SERVICIOS</a></li>
                       <li><a href="">ACTUALIZACIÓN EN CONTRATOS PÚBLICOS</a></li>
                       <li><a href="">¿CÓMO ELABORAR UN PROGRAMA DE SALUD Y SEGURIDAD LABORAL?</a></li>
                       <li><a href="">AUTOESTIMA Y MOTIVACIÓN AL LOGRO (CLAVE DEL ÉXITO)</a></li>
                       <li><a href="">MANEJO DEL ESTRÉS EN TIEMPO DE CRISIS (TÉCNICAS DE RELAJACIÓN)</a></li>
                       <li><a href="">CALIDAD DE SERVICIOS AL CLIENTE</a></li>
                       <li><a href="">DESARROLLO DE HABILIDADES DE COUNSELING Y COACHING</a></li>
                       <li><a href="">FINANZAS PARA NO FINANCIEROS</a></li>
                       <li><a href="">PNL PARA NEGOCIACIONES EFECTIVAS</a></li>
                       <li><a href="">GERENCIA DE EVENTOS ESPECIALES Y PROTOCOLO</a></li>
                       <li><a href="">PRESENTACIONES ORALES EFECTIVAS</a></li>
                       
                      </ul>
                      &nbsp;
                      &nbsp;
                      
                  </div>
  
                  <div id="verLine2" class="col-md-1">
                      <div class="verticalLine" style="height: 655px">&nbsp;</div>
                  </div>
  
                  <div class="col-md-3" align="center">-->

        </div>
    </div>

    <!--Fin de sección-->  

</section>

