
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/imgs_postgrado/post_grado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->
    
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">
                
                
                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/imgs_postgrado/ciencia_educ_doct.png"/></div>
                    &nbsp;
                   
                    
                </div>
                
              <!-- <div id="verLine1" class="col-md-1">
                    <div class="verticalLine" style="height: 249px">&nbsp;</div>
                </div>-->

                <div class="col-md-5" align="left">
                  <div><h4 class="titulo"><span style=" font-size:30px;">CIENCIAS DE LA EDUCACIÓN</span></h4>
                     &nbsp;
                  <p class="parrafo">El propósito del Doctorado en Ciencias de la Educación es formar docentes investigadores del más alto nivel en la interpretación de los problemas de la educación, su desarrollo; el análisis de los procesos y tecnologías de enseñanza - aprendizaje, a los fines que se constituyan en líderes y agentes de transformación del Sistema Educativo Nacional.
</p><br />

                  <p style="font-weight:bold; font-size:15px;">Pensum de Estudio</p>
                  <br />
                
                    <table class="table table-striped" width="500" border="0">
                    <tr>
                      <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE I</th>
                    </tr>
                    <tr>
                      <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                      <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                    </tr>
                    <tr>
                      <td>FILOSOFÍA DE LA EDUCACIÓN</td>
                      <td style="padding-left:18px;">4</td>
                    </tr>
                    <tr>
                      <td>EPISTEMOLOGÍA DE LAS CIENCIAS DE LA EDUCACIÓN</td>
                      <td style="padding-left:18px;">4</td>
                    </tr>
                    <tr>
                      <td>TEORÍA Y PRAXIS CURRICULAR</td>
                      <td style="padding-left:18px;">3</td>
                    </tr>
                    <tr>
                      <td>GERENCIA EN LAS ORGANIZACIONES EDUCATIVAS</td>
                      <td style="padding-left:18px;">3</td>
                    </tr>
                  
                  </table><br />

                    <table class="table table-striped" width="500" border="0">
                    <tr>
                      <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE II</th>
                    </tr>
                    <tr>
                      <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                      <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                    </tr>
                    <tr>
                      <td>GESTIÓN DEL CONOCIMIENTO</td>
                      <td style="padding-left:18px;">4</td>
                    </tr>
                    <tr>
                      <td>CORRIENTES DEL PENSAMIENTO EDUCATIVO</td>
                      <td style="padding-left:18px;">4</td>
                    </tr>
                    <tr>
                      <td>SEMINARIO DE INVESTIGACIÓN I</td>
                      <td style="padding-left:18px;">3</td>
                    </tr>
                    <tr>
                      <td>ELECTIVA I</td>
                      <td style="padding-left:18px;">3</td>
                    </tr>
                   
                  </table><br />

                     <table class="table table-striped" width="500" border="0">
                    <tr>
                      <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE III</th>
                    </tr>
                    <tr>
                      <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                      <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                    </tr>
                    <tr>
                      <td>ESTRATEGIAS PARA EL APRENDIZAJE EN EL CONTEXTO DE LA INNOVACIÓN EDUCATIVA</td>
                      <td style="padding-left:18px;">4</td>
                    </tr>
                    <tr>
                      <td>DISEÑO Y EVALUACIÓN CURRICULAR</td>
                      <td style="padding-left:18px;">4</td>
                    </tr>
                     <tr>
                      <td>SEMINARIO DE INVESTIGACIÓN II<br/> Prelación: SEMINARIO DE INVESTIGACIÓN I</td>
                      <td style="padding-left:18px; padding-top:18px;">3</td>
                    </tr>
                    <tr>
                      <td>ELECTIVA II</td>
                      <td style="padding-left:18px;">3</td>
                    </tr>
                   
                  </table><br />

                   <table class="table table-striped" width="500" border="0">
                    <tr>
                      <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE IV</th>
                    </tr>
                    <tr>
                      <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                      <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                    </tr>
                    <tr>
                      <td>PROCESOS ESTADÍSTICOS PARA LA INVESTIGACIÓN</td>
                      <td style="padding-left:18px;">4</td>
                    </tr>
                    <tr>
                      <td>POLÍTICAS EDUCATIVAS EN EL CONTEXTO LATINOAMERICANO</td>
                      <td style="padding-left:18px;">4</td>
                    </tr>
                     <tr>
                      <td>SEMINARIO DE INVESTIGACIÓN III<br/> Prelación: SEMINARIO DE INVESTIGACIÓN II</td>
                      <td style="padding-left:18px; padding-top:18px;">3</td>
                    </tr>
                    <tr>
                      <td>ELECTIVA III</td>
                      <td style="padding-left:18px; padding-top:18px;">3</td>
                    </tr>
                   
                  </table><br />

                   <table class="table table-striped" width="500" border="0">
                    <tr>
                      <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE V</th>
                    </tr>
                    <tr>
                      <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                      <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                    </tr>
                    <tr>
                      <td>SEMINARIO DE INVESTIGACIÓN IV<br/> Prelación: SEMINARIO DE INVESTIGACIÓN III</td>
                      <td style="padding-left:18px; padding-top:18px;">4</td>
                    </tr>
                    <tr>
                      <td>ELECTIVA IV</td>
                      <td style="padding-left:18px;">4</td>
                    </tr>
                     <tr>
                      <td>ELECTIVA IV</td>
                      <td style="padding-left:18px; padding-top:18px;">3</td>
                    </tr>
                    <tr>
                      <td>TESIS DOCTORAL<br/> Prelación: SEMINARIO DE INVESTIGACIÓN III<br/> INGLES INSTRUMENTAL</td>
                      <td style="padding-left:18px; padding-top:18px;">3</td>
                    </tr>
                   
                  </table><br />
                <p style="font-weight:bold; font-size:15px;">Régimen Académico</p>
                <p class="parrafo">El programa consta de tres (3) períodos semestrales consecutivos. El contenido del programa estará disponible en Internet las 24 horas.</p><br />
                
                  </div>
                  &nbsp;
                

                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 1550px">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="http://www.urbeinternacional.com/#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
             &nbsp;
              
                  
                </div>
            </div>
        
        <!--Fin de sección-->      
        </div>
    </div>
   
</section>

