
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/imgs_postgrado/post_grado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div id="principal" class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">


                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/imgs_postgrado/cs_men_gerencia.png"/></div>
                    &nbsp;


                </div>

                <!-- <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 249px">&nbsp;</div>
                  </div>-->

                <div class="col-md-5" align="left">
                    <div><h4 class="titulo"><span style=" font-size:30px;">CIENCIAS, MENCIÓN: GERENCIA</span></h4>
                        &nbsp;
                        <p class="parrafo">El propósito del Doctorado en Ciencias, Mención Gerencia, es contribuir a la capacitación y desarrollo de profesionales en el campo de investigación gerencial, con un alto nivel académico, dotados por el rigor metodológico y científico en el campo de la investigación y de la gerencia en diferentes campos de conocimiento.
                        </p><br />

                        <p style="font-weight:bold; font-size:15px;">Pensum de Estudio</p>
                        <br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE I</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>FFILOSOFÍA DE LA CIENCIA</td>
                                <td style="padding-left:18px;">4</td>
                            </tr>
                            <tr>
                                <td>CIENCIA, TECNOLOGÍA E INNOVACIÓN</td>
                                <td style="padding-left:18px;">4</td>
                            </tr>
                            <tr>
                                <td>GESTIÓN DEL CONOCIMIENTO</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>CALIDAD DE GESTIÓN</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>

                        </table><br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE II</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>SISTEMAS DE INFORMACIÓN E INVESTIGACIÓN</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>INNOVACIÓN PARA EL DESARROLLO</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>CIENCIA Y TECNOLOGÍA COMO POLÍTICA DE ESTADO</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>SEMINARIO DE INVESTIGACIÓN I</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>ELECTIVA I</td>
                                <td style="padding-left:18px;">2</td>
                            </tr>

                        </table><br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE III</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>TEORÍA Y PRAXIS DE LA INNOVACIÓN</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>OPTIMIZACIÓN E INTEGRACIÓN DE PROCESOS</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>ANÁLISIS CRÍTICO EN ESCENARIOS COMPLEJOS</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>SEMINARIO DE INVESTIGACIÓN II<br/> Prelación: SEMINARIO DE INVESTIGACIÓN I</td>
                                <td style="padding-left:18px; padding-top:18px;">3</td>
                            </tr>
                            <tr>
                                <td>ELECTIVA II</td>
                                <td style="padding-left:18px;">2</td>
                            </tr>

                        </table><br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE IV</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>GERENCIA DE PROYECTOS DE INVESTIGACIÓN Y DESARROLLO</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>TRANSFERENCIA DE TECNOLOGÍA</td>
                                <td style="padding-left:18px;">2</td>
                            </tr>
                            <tr>
                                <td>GESTIÓN FINANCIERA DE PROYECTOS</td>
                                <td style="padding-left:18px;">2</td>
                            </tr>
                            <tr>
                                <td>SEMINARIO DE INVESTIGACIÓN III<br/> Prelación: SEMINARIO DE INVESTIGACIÓN II</td>
                                <td style="padding-left:18px; padding-top:18px;">3</td>
                            </tr>
                            <tr>
                                <td>ELECTIVA III</td>
                                <td style="padding-left:18px;">2</td>
                            </tr>

                        </table><br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE V</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>EVALUACIÓN DE PROYECTOS DE INVESTIGACIÓN Y DESARROLLO</td>
                                <td style="padding-left:18px; padding-top:18px;">4</td>
                            </tr>
                            <tr>
                                <td>HÁBITAT Y DESARROLLO</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>SEMINARIO DE INVESTIGACIÓN IV<br/> Prelación: SEMINARIO DE INVESTIGACIÓN III</td>
                                <td style="padding-left:18px; padding-top:18px;">3</td>
                            </tr>
                            <tr>
                                <td>TESIS DOCTORAL<br/> Prelación: SEMINARIO DE INVESTIGACIÓN III<br/> INGLES INSTRUMENTAL</td>
                                <td style="padding-left:18px; padding-top:18px;">24</td>
                            </tr>

                        </table><br />
                        <p style="font-weight:bold; font-size:15px;">Régimen Académico</p>
                        <p class="parrafo">El programa consta de tres (3) períodos semestrales consecutivos. El contenido del programa estará disponible en Internet las 24 horas.</p><br />  
                        <div layout="row" ng-if="((PlanesFinanciamiento.length > 0) && (isLogged) && (puedeInscribir === true))">
                            <div layout="column" flex="100">
                                <md-button class="md-raised" style="background-color:#21569f;color:white;" ng-click="goOn()">Inscribirse</md-button>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!PlanesFinanciamiento && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Cargando...</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(PlanesFinanciamiento.length === 0 && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>La inscripción para este estudio no está disponible.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(puedeInscribir === false && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Ya está inscrito en este estudio.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!isLogged)">
                            <div layout="column" flex="100" align="center">
                                <h2>Debe iniciar sesión si desea inscribirse en este estudio.</h2>
                            </div>
                        </div>
                    </div>
                    &nbsp;


                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
            &nbsp;


        </div>
    </div>

    <!--Fin de sección-->     

</section>

