
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/imgs_postgrado/post_grado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div id="principal" class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">


                <div class="col-md-3">
                    <div><img class="img-responsive" src="img/imgs_postgrado/ciencia_politica.png"/></div>
                    &nbsp;


                </div>

                <!-- <div id="verLine1" class="col-md-1">
                      <div class="verticalLine" style="height: 249px">&nbsp;</div>
                  </div>-->

                <div class="col-md-5" align="left">
                    <div><h4 class="titulo"><span style=" font-size:30px;">CIENCIAS POLÍTICAS</span></h4>
                        &nbsp;
                        <p class="parrafo">El Doctorado en Ciencias Políticas tiene como objetivo formar expertos para la investigación en el área, con elevada preparación para la investigación humanística y científica, con la finalidad de responder adecuadamente a las diversas exigencias del desarrollo de conocimiento provenientes del sector público y privado. Con enfoques interdisciplinarios pretende generar teorías que puedan aplicarse en ámbitos nacionales, internacionales, regionales y locales.
                        </p><br />

                        <p style="font-weight:bold; font-size:15px;">Pensum de Estudio</p>
                        <br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE I</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>MARCO CONCEPTUAL DE LA CIENCIA POLÍTICA</td>
                                <td style="padding-left:18px;">2</td>
                            </tr>
                            <tr>
                                <td>FUNDAMENTO DE TEORÍA POLÍTICA</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>SOCIOLOGÍA POLÍTICA</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>ÉTICA Y POLÍTICA</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>

                        </table><br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE II</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>SISTEMAS POLÍTICOS COMPARADOS</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>GEOPOLÍTICA Y RELACIONES INTERNACIONALES</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>SEMINARIO DE INVESTIGACIÓN I</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>SELECTIVA I</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>

                        </table><br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE III</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>CIUDADANÍA, DEMOCRACIA Y PLURALISMO</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>FUNDAMENTOS DE LOS DERECHOS HUMANOS</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>SEMINARIO DE INVESTIGACIÓN II<br/> Prelación: SEMINARIO DE INVESTIGACIÓN I</td>
                                <td style="padding-left:18px; padding-top:18px;">3</td>
                            </tr>
                            <tr>
                                <td>ELECTIVA II</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>

                        </table><br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE IV</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>ADMINISTRACIÓN Y POLÍTICAS PÚBLICAS</td>
                                <td style="padding-left:18px;">4</td>
                            </tr>
                            <tr>
                                <td>FINANZAS Y TRIBUTOS PÚBLICOS</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>SEMINARIO DE INVESTIGACIÓN III<br/> Prelación: SEMINARIO DE INVESTIGACIÓN II</td>
                                <td style="padding-left:18px; padding-top:18px;">3</td>
                            </tr>
                            <tr>
                                <td>ELECTIVA III</td>
                                <td style="padding-left:18px; ">3</td>
                            </tr>

                        </table><br />

                        <table class="table table-striped" width="500" border="0">
                            <tr>
                                <th style="background-color:#103b70; text-align:center; font-size:18px;color:#FFF;"scope="col" colspan="2">SEMESTRE V</th>
                            </tr>
                            <tr>
                                <th style="background-color:#103b70; color:#FFF;">Descripción</th>
                                <th style="background-color:#103b70; color:#FFF;">U.C.</th>
                            </tr>
                            <tr>
                                <td>GERENCIA PÚBLICA</td>
                                <td style="padding-left:18px; padding-top:18px;">3</td>
                            </tr>
                            <tr>
                                <td>COMUNICACIÓN Y POLÍTICA</td>
                                <td style="padding-left:18px;">4</td>
                            </tr>
                            <tr>
                                <td>SEMINARIO DE INVESTIGACIÓN IV<br/>Prelación: SEMINARIO DE INVESTIGACIÓN III</td>
                                <td style="padding-left:18px; padding-top:18px;">3</td>
                            </tr>
                            <tr>
                                <td>ELECTIVA IV</td>
                                <td style="padding-left:18px;">3</td>
                            </tr>
                            <tr>
                                <td>TESIS DOCTORAL<br/> Prelación: SEMINARIO DE INVESTIGACIÓN III<br/> INGLES INSTRUMENTAL</td>
                                <td style="padding-left:18px; padding-top:18px;">24</td>
                            </tr>

                        </table><br />
                        <p style="font-weight:bold; font-size:15px;">Régimen Académico</p>
                        <p class="parrafo">El programa consta de tres (3) períodos semestrales consecutivos. El contenido del programa estará disponible en Internet las 24 horas.</p><br />  
                        <div layout="row" ng-if="((PlanesFinanciamiento.length > 0) && (isLogged) && (puedeInscribir === true))">
                            <div layout="column" flex="100">
                                <md-button class="md-raised" style="background-color:#21569f;color:white;" ng-click="goOn()">Inscribirse</md-button>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!PlanesFinanciamiento && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Cargando...</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(PlanesFinanciamiento.length === 0 && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>La inscripción para este estudio no está disponible.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(puedeInscribir === false && (isLogged))">
                            <div layout="column" flex="100" align="center">
                                <h2>Ya está inscrito en este estudio.</h2>
                            </div>
                        </div>
                        <div layout="row" ng-show="(!isLogged)">
                            <div layout="column" flex="100" align="center">
                                <h2>Debe iniciar sesión si desea inscribirse en este estudio.</h2>
                            </div>
                        </div>
                    </div>
                    &nbsp;


                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-2" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
            &nbsp;


        </div>
    </div>

    <!--Fin de sección-->      

</section>

