<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_certificacion/certinternacional_banner.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>

    <!--Separador Blanco-->
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <!-- CONTENIDO -->
        <section>
            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <div class="container">

                    <!-- INFORMACION -->
                    <div class="row">
                        <div class="col-md-2">

                        </div>

                        <div class="col-md-1">
                            <div class="verticalLine" style="height: 1250px">&nbsp;</div>
                        </div>

                        <div class="col-md-5">
                            <p class="parrafo">
                                LA CERTIFICACIÓN TÉCNICA INTERNACIONAL (CTI) brinda información en el área de las tecnologías más demandadas en el mercado nacional e internacional a través de alianzas estratégicas con empresas líderes a nivel mundial, tales como Microsoft, Cisco, IBM, SUN Microsystems, Pearson Vue, Thomson Prometric, entre otras.<br><br>

                                Gracias a los convenios suscritos con estas grandes Academias Internacionales, se garantiza la más amplia difusíon del conocimiento, la información a servicio de los ciudadanos y las colectividades, para contribuir a crear una cultura de ciencia y tecnología. URBE INTERNACIONAL tiene una amplia oferta académica a través de cursos para certificación en redes CCNA, CCNP, Seguridad de Redes y Redes Inalámbricas. Igualmente cursos de servidores 2003 de Microsoft, Sun Solaris, Programación en Lenguaje. 
                            </p>
                        </div>

                        <div class="col-md-1">
                            <div class="verticalLine" style="height: 1260px">&nbsp;</div>
                        </div>

                        <div class="col-md-3" align="center">
                            <img class="img-responsive" style="margin-bottom: 10%" src="img/img_certificacion/cert-internacional_03.png" alt="Front-URBE">
                            <img class="img-responsive" src="img/img_certificacion/cert-internacional_06.png" alt="Front-URBE">
                        </div>
                    </div>

                    <!-- IMAGENES -->
                    <div class="row">

                        <div class="col-md-2">

                        </div>

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-5" style="padding-right:0px">

                            <div style=" margin-bottom:5%" align="center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="img-responsive" src="img/img_certificacion/cert-internacional_08.png" alt="Front-URBE">
                                    </div>
                                    <div class="col-md-6">
                                        <img class="img-responsive" src="img/img_certificacion/cert-internacional_10.png" alt="Front-URBE">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="img-responsive" src="img/img_certificacion/cert-internacional_16.png" alt="Front-URBE">
                                    </div>

                                    <div class="col-md-6">
                                        <img class="img-responsive" src="img/img_certificacion/cert-internacional_17.png" alt="Front-URBE">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3">

                        </div>

                    </div>

                    <!-- CURSOS OFRECIDOS -->
                    <div class="row">
                        <div class="row">
                            <div class="col-md-2" style="margin-bottom: 3%">
                                <h3 class="titulo">ACTUALMENTE SE OFRECE: </h3>
                            </div>

                            <div class="col-md-1">
                            </div>

                            <div class="col-md-5"></div>

                            <div class="col-md-1">
                            </div>

                            <div class="col-md-3"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-2" style="margin-bottom: 5%">
                                <h5 class="titulo">CISCO NETWORKING ACADEMY PROGRAM</h5>
                            </div>

                            <div class="col-md-1">
                            </div>

                            <div class="col-md-5" style="margin-bottom: 5%">
                                <ul class="parrafo">
                                    <li>CCNA</li>
                                    <li>CCNP</li>
                                    <li>FUNDAMENTOS DE REDES</li>
                                    <li>IT ESSENTIALS</li>
                                    <li>FUNDAMENTALS OF JAVA</li>
                                </ul>
                            </div>

                            <div class="col-md-1">
                            </div>

                            <div class="col-md-3"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <h5 class="titulo">MICROSOFT IT ACADEMY PROGRAM</h5>
                            </div>

                            <div class="col-md-1">
                            </div>

                            <div class="col-md-5">
                                <ul class="parrafo">
                                    <li>COURSE 2274: MANAGING AND MAINTAINING A MICROSOFT WINDOWS SERVER 2003 ENVIRONMENT</li><br>
                                    <li>COURSE 2277: IMPLEMENTING, MANAGING AND MAINTAINING A MICROSOFT WINDOWS SERVER 2003 NETWORK INFRASTRUCTURE: NETWORK SEA</li>
                                </ul>
                            </div>

                            <div class="col-md-1">
                            </div>

                            <div class="col-md-3" style="margin-bottom: 20%"></div>
                        </div>
                    </div>

        </section>

