<div layout="row" style="padding-top:100px;padding-bottom:100px;">
    <div flex></div>
    <div flex="75" ng-if="isWaiting()">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
    </div>
    <div flex="75" ng-if="isUnsuccessful()">
        <h2><i class="fa fa-times"></i> <strong>La cuenta no ha sido verificada</strong></h2>
        <br>
        <md-whiteframe class="md-whiteframe-z3" flex="100" style="padding:10px;font-size:16px !important;margin:8px;" layout="column">
            <span style="font-size:20px !important;font-weight: bold">¡Lamentablemente no pudimos verificar la cuenta ya que no encontramos un código que coincidiera con el que eviaste!</span>
            <br>
            A pesar de que no logramos verificar tu cuenta, podemos reenviar el código a tu correo electrónico. Ingrésalo a continuación y si coincide con el correo de alguna cuenta creada te llegará el correo en los próximos 5 minutos. Si no te llega, por favor revisa en tu bandeja de correos no deseados.<br>
            <br>
            <div align="center" layout="row">
                <div layout="column" flex></div>
                <div layout="column" flex="50">
                    <form name="thisForm" novalidate ng-submit="resendCode()">
                        <md-input-container>
                            <label>Correo Electrónico</label>
                            <input type="email" name="correo" ng-model="recover.correoReenviar" ng-required="true">
                            <!--<div ng-messages="thisForm.correoReenviar.$error">
                                <div ng-message="required">*</div>
                                <div ng-message="email">No es un correo</div>
                            </div>-->
                        </md-input-container>
                        <!--<md-button class="md-raised md-primary" type="submit" ng-disabled="thisForm.$invalid">Enviar Correo</md-button>-->
                        <md-button class="md-raised md-primary" type="submit">Enviar Correo</md-button>
                    </form>
                </div>
                <div layout="column" flex></div>
            </div>
            <br>
        </md-whiteframe>
    </div>
    <div flex="75" ng-if="isSuccessful()">
        <h2><strong>Cuenta Verificada</strong></h2>
        <br>
        <md-whiteframe class="md-whiteframe-z3" flex="100" style="padding:10px;font-size:16px !important;margin:8px;" layout="column">
            <span style="font-size:20px !important;font-weight: bold">¡Felicitaciones por haber verificado tu cuenta!</span>
            <br>
            Has confirmado que eres el dueño del correo:
            <br>
            <div layout="row">
                <div layout="column">
                    <i class="fa fa-envelope-o fa-2x"></i>&nbsp;&nbsp;
                </div>
                <div flex="2" layout="column"></div>
                <div layout="column">
                    <span style="background-color:rgb(193,39,45);color:white;padding-top:2px;padding-bottom:2px;padding-left:10px;padding-right:10px;font-size: 20px;">{{correo}}</span>
                </div>
                <div flex layout="column"></div>
            </div>
            <br>
            Ya eres un usuario verificado de URBE INTERNACIONAL. Te invitamos a seguir completando la información de tu perfil para ayudarnos a mejorar tu experiencia. Además de comenzar a inscribirte en los estudios y servicios que ofrecemos.
            <br>
            <span align="center">
                <i class="fa fa-check fa-3x"></i>
                <br>
                <br>
                <span  style="background-color:rgb(57,181,74);color:white;padding:8px;border-radius: 10px;">Tu estado de usuario ha sido verificado</span>
            </span>
            <br>
            Esto significa que has verificado y confirmado tu usuario y ahora puedes disfrutar de todas las funciones y opciones disponibles de nuestro sistema.
        </md-whiteframe>
    </div>
    <div flex></div>
</div>
