
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_diplomado/diplomado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div id="principal" class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">
                <div class="col-md-2">
                    <h3 class="titulo">ACTUALMENTE <br>SE OFRECE</h3>
                </div>

                <div id="verLine1" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-5" align="left">
                    <ul class="titulo">
                        <li><a href="#/mercadeo-ventas?id=266">DIPLOMADO DE MERCADEO Y VENTANAS</a></li>
                        <li><a href="">DIPLOMADO EN COMERCIALIZACIÓN DE HIDROCARBURO</a></li>
                        <li><a href="">DIPLOMADO EN DERECHO DE LAS TECNOLOGÁAS INFORMÁTICAS</a></li>
                        <li><a href="">DIPLOMADO EN REDES DE ÁREA LOCAL Y CABLEADO ESTRUCTURADO</a></li>
                        <li><a href="">DIPLOMADO EN FORMULACIÓN Y EVALUACIÓN DE PROYECTOS</a></li>
                        <li><a href="">DIPLOMADO EN GERENCIA DE OPERACIONES Y PRODUCCIÓN</a></li>
                        <li><a href="">DIPLOMADO EN GESTIÓN DEL NEGOCIO MARÍTIMO</a></li>
                        <li><a href="">DIPLOMADO EN GERENCIA FINANCIERA</a></li>
                        <li><a href="">DIPLOMADO EN SEGURIDAD, HIGIENE Y AMBIENTE</a></li>
                        <li><a href="">DIPLOMADO ÉTICA PÚBLICA PARA LA MODERNIZACIÓN DEL ESTADO</a></li>
                    </ul>
                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-3" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>

        </div>
    </div>

</section>

