
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_estudios/estudios.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->
    
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">
                <div class="col-md-2">
                </div>

                <div id="verLine1" class="col-md-1">
                    <div class="verticalLine" style="height: 520px">&nbsp;</div>
                </div>

                <div class="col-md-5" align="left">
                    <p class="parrafo">
                        Para dar respuestas a los grandes desafíos del mundo moderno, URBE ofrece cursos a distancia utilizando las más actualizadas tecnologías de la información y comunicación, que permitirá el acceso a la educación superior de calidad a un mayor número de estudiantes.<br><br>

                        Los cursos a distancia de URBE se realizan a través de Internet, incluyen textos, sonidos, animación, videos y recursos hipertextuales, en los que la mediación de la relación docente-alumno ocurre por la Web.</p>
                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 520px">&nbsp;</div>
                </div>

                <div class="col-md-3" align="center">
                    <a href="#/modelo-educativo"> <img style="margin-bottom: 10%" class="img-responsive" src="img/img_estudios/cert-internacional_03.png" alt="Front-URBE"> </a>
                    <a href="#/diplomado"> <img style="margin-bottom: 10%" class="img-responsive" src="img/img_estudios/cert-internacional_06.png" alt="Front-URBE"> </a>
                </div>
            </div>

        </div>
    </div>
   
</section>

