
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_diplomado/diplomado.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div id="principal" class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">


                <div class="col-md-2">
                    <div style="width:250px; height:60px;background-color:#6b1522; color:#FFFFFF;"><h3 class="titulo"><span style="font-size:20px; padding-left:35px;">ACTUALMENTE</span><br><span style="font-size:20px; padding-left:35px;">SE OFRECE</span></h3></div>
                    &nbsp;
                    <div><h4 class="titulo"><span style=" font-weight:bold;padding-left:35px;">DIPLOMADOS</span></h4></div>

                </div>

                <div id="verLine1" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-5" align="left">
                    <div style=" margin-left:25px;">
                        <img class="img-responsive" src="img/img_diplomado/img_diplomado.jpg"/>
                    </div>
                    &nbsp;
                    <ul class="titulo">
                        <li style="list-style-type:square; font-size:16px">DIPLOMADOS EN CIENCIAS ADMINISTRATIVAS</li>
                        <!-- <li><a href="#/admi-tributaria">ADMINISTRACIÓN TRIBUTARIA</a></li>-->
                        <li><a href="#/administracion-logistica-integral?id=415">ADMINISTRACIÓN DE LOGÍSTICA INTEGRAL</a></li>
                        <li><a href="#/gerencia-estrategica-liderazgo?id=755">GERENCIA ESTRATÉGICA Y LIDERAZGO</a></li>
                        <li><a href="#/formulacion-evaluacion-plan-negocios?id=729">FORMULACIÓN Y EVALUACIÓN DE UN PLAN DE NEGOCIO</a></li>
                        <li><a href="#/gestion-talento-humano?id=658">GESTIÓN DEL TALENTO HUMANO</a></li>
                        <li><a href="#/gestion-empresas-servicios?id=756">GESTIÓN DE EMPRESAS DE SERVICIOS</a></li>
                        <li><a href="#/gerencia-proyectos?id=707">GERENCIA DE PROYECTOS</a></li>
                        <li><a href="#/gerencia-financiera?id=282">GERENCIA FINANCIERA</a></li>
                        <li><a href="#/formacion-emprendedores-innovadores?id=744">FORMACIÓN DE EMPRENDEDORES E INNOVADORES</a></li>
                        <li><a href="#/negocio-maritimo?id=321">GESTIÓN DEL NEGOCIO MARÍTIMO</a></li>
                        <li><a href="#/mercadeo-ventas?id=266">MERCADEO Y VENTAS</a></li>
                        <li><a href="#/negocios-electronicos-redes-sociales?id=726">NEGOCIOS ELECTRÓNICOS Y REDES SOCIALES</a></li>
                        <li><a href="#/negociacion-gestion-conflictos?id=274">NEGOCIACIÓN Y GESTIÓN DE CONFLICTOS</a></li><br />

                        <li style="list-style-type:square; font-size:16px">DIPLOMADOS EN CIENCIAS DE LA EDUCACIÓN</li>
                        <li><a href="#/planificacion-educativa?id=287">PLANIFICACIÓN EDUCATIVA</a></li>
                        <li><a href="#/liderazgo-gestion-directiva-educacion?id=291">LIDERAZGO Y GESTIÓN DIRECTIVA EN EDUCACIÓN</a></li>
                        <!-- <li><a href="#/gestion-inclusiva">GESTIÓN INCLUSIVA</a></li>-->
                        <!--<li><a href="#/lengua-senas">LENGUA DE SEÑAS</a></li>--><br />

                        <li style="list-style-type:square; font-size:16px">DIPLOMADOS EN CIENCIAS DE LA SALUD</li>
                        <!--<li><a href="#/sha">SEGURIDAD, HIGIENE Y AMBIENTE</a></li>-->
                        <li><a href="#/gerencia-servicios-salud?id=281">GERENCIA EN SERVICIOS DE SALUD</a></li>
                        <!--<li><a href="#/prev-inter-integ">PREVENCIÓN E INTERVENCIÓN INTEGRAL EN EL CONSUMO DE DROGAS</a></li>-->
                        <!--<li><a href="#/med-legal">MEDICINA LEGAL, OCUPACIONAL Y SEGURIDAD</a></li>--><br />

                        <li style="list-style-type:square; font-size:16px">DIPLOMADOS EN ARQUITECTURA, INGENIERÍA Y TECNOLOGÍA</li>
                        <li><a href="#/instrumentacion-automatizacion-industrial?id=787">INSTRUMENTACIÓN Y AUTOMATIZACIÓN INDUSTRIAL</a></li>
                        <li><a href="#/mantenimiento-industrial?id=278">MANTENIMIENTO INDUSTRIAL</a></li>
                        <!-- <li><a href="#/inspecion-cons">INSPECCIÓN DE OBRAS DE CONSTRUCCIÓN</a></li>-->
                        <li><a href="#/redes-area-local-cableado-estructurado?id=320">REDES DE ÁREA LOCAL Y CABLEADO ESTRUCTURADO</a></li>
                        <!--<li><a href="#/formacion-desarrolladores-web?id=">FORMACIÓN EN DESARROLLADORES WEB</a></li>-->
                        <li><a href="#/diseno-medios-web?id=419">DISEÑO DE MEDIOS WEB</a></li>
                        <li><a href="#/sistemas-integrados-gestion?id=786">SISTEMAS INTEGRADOS DE GESTIÓN</a></li>
                        <li><a href="#/gerencia-operaciones-produccion?id=267">GERENCIA DE OPERACIONES Y PRODUCCIÓN</a></li><br />

                        <li style="list-style-type:square; font-size:16px">DIPLOMADOS EN HUMANIDADES, LETRAS Y ARTES</li>
                        <li><a href="#/diseno-animacion-video-digital?id=413">DISEÑO DE ANIMACIÓN Y VIDEO DIGITAL</a></li>
                        <li><a href="#/diseno-medios-impresos?id=414">DISEÑO DE MEDIOS IMPRESOS</a></li>
                        <li><a href="#/produccion-audiovisual?id=408">PRODUCCIÓN AUDIOVISUAL</a></li><br />

                        <li style="list-style-type:square; font-size:16px">DIPLOMADOS EN CIENCIAS JURÍDICAS</li>
                        <li><a href="#/criminalistica?id=288">CRIMINALÍSTICA</a></li>
                        <!-- <li><a href="#/derecho-empresa">DERECHO DE LA EMPRESA</a></li>-->

                    </ul>
                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" >&nbsp;</div>
                </div>

                <div class="col-md-3" align="center">
                    <a href="#/modelo-educativo"><img class="img-responsive" src="img/img_diplomado/cert-internacional_03.png" alt="Front-URBE"></a>
                </div>
            </div>
            &nbsp;
            &nbsp;

            <!--Nueva sección de Cursos-->
            <div class="row">
                <div class="col-md-2">
                    <h4 class="titulo"><span style=" font-weight:bold;padding-left:35px;">CURSOS</span></h4>
                </div>

                <div class="col-md-1">
                </div>

                <div class="col-md-5" align="left">
                    <div style=" margin-left:25px;">
                        <img class="img-responsive" src="img/img_diplomado/img_cursos.jpg"/>
                    </div>
                    &nbsp;
                    <ul class="titulo">
                        <li><a href="#/normas-iso-rumbo-certificacion">NORMAS ISO 9001:2015 “RUMBO A LA CERTIFICACIÓN”</a></li>
                        <li><a href="#/herrramientas-aseguramiento-calidad">HERRAMIENTAS PARA EL ASEGURAMIENTO DE LA CALIDAD</a></li>
                        <li><a href="#/administracion-inventarios">ADMINISTRACIÓN DE INVENTARIOS</a></li>
                        <li><a href="#/petroleo-petroleros">PETRÓLEO PARA NO PETROLEROS</a></li>
                        <li><a href="#/gerenciando-empresa">GERENCIANDO UNA EMPRESA</a></li>
                        <li><a href="#/edu-sira">EDUCANDO SIN IRA (EL MANEJO DEL AUTOCONTROL EMOCIONAL)</a></li>
                        <li><a href="#administracion-contratos-obras-publicas-bienes-servicios/">ADMINISTRACIÓN DE CONTRATOS DE OBRAS PÚBLICAS, BIENES Y SERVICIOS</a></li>
                        <li><a href="#actualizacion-contratos-publicos/">ACTUALIZACIÓN EN CONTRATOS PÚBLICOS</a></li>
                        <li><a href="#/como-elaborar-programa-salud-seguridad-laboral">¿CÓMO ELABORAR UN PROGRAMA DE SALUD Y SEGURIDAD LABORAL?</a></li>
                        <li><a href="#/autoestima-motivacion-logro">AUTOESTIMA Y MOTIVACIÓN AL LOGRO (CLAVE DEL ÉXITO)</a></li>
                        <li><a href="#/manejo-estres-tiempo-crisis">MANEJO DEL ESTRÉS EN TIEMPO DE CRISIS (TÉCNICAS DE RELAJACIÓN)</a></li>
                        <li><a href="#/calidad-servicios-cliente">CALIDAD DE SERVICIOS AL CLIENTE</a></li>
                        <li><a href="#/desarrollo-habilidades-counseling-coaching">DESARROLLO DE HABILIDADES DE COUNSELING Y COACHING</a></li>
                        <li><a href="#/finanzas-no-financieros">FINANZAS PARA NO FINANCIEROS</a></li>
                        <li><a href="#/pnl-negociaciones-efectivas">PNL PARA NEGOCIACIONES EFECTIVAS</a></li>
                        <li><a href="#/gerencia-eventos-especiales-protocolo">GERENCIA DE EVENTOS ESPECIALES Y PROTOCOLO</a></li>
                        <li><a href="#/presentaciones-orales-efectivas">PRESENTACIONES ORALES EFECTIVAS</a></li>

                    </ul>
                    &nbsp;
                    &nbsp;



                </div>

                <div class="col-md-1">
                </div>

                <div class="col-md-3" align="center">

                </div>
            </div>

            <!--Fin de sección-->      
        </div>
    </div>

</section>

