


<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_home/imagen-home.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>

    <!--Separador Blanco-->
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>
        <!--Noticias-Recientes-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="padding-left: 9%;">
                        <h2 class="noticias-recientes">NOTICIAS RECIENTES</h2>
                    </div>
                    <div class="col-md-6" style="padding-left: 8%;">
                        <a href=""><h5 class="ver-eventos">VER TODOS LOS EVENTOS >></h5></a>
                    </div>
                </div>
            </div>
            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>
                <!--Eventos-->
                <div class="container" style="padding-bottom: 2%;">
                    <div class="row" style="margin-left: 6.6%;">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4" style="padding-left: 0%;margin-left: -3%;">
                                    <p class="evento-1 text-justify">CONFERENCIA<br>INTERNACIONAL<br>ICDE 2015</p>
                                </div>
                                <div class="col-md-4" style="margin-left: 26px;">
                                    <p class="evento-2 text-justify">III FORO<br>INTERNACIONAL DE<br>EDUCACIÓN SUPERIOR<br>EN ENTORNOS<br>VIRTUALES</p>
                                </div>
                                <div class="col-md-4">
                                    <P>&nbsp;</P>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="margin-top: 37%;padding: 0%;margin-left: -1%;">
                                    <img class="img-responsive" src="img/img_home/img-libro.png" alt="img-libro">
                                </div>
                            </div>
                            <div class="container-fluid" style="padding: 0%,margin: 0%">              

                            </div>
                        </div>                   
                        <div class="col-md-2" style="background-image: url(img/img_home/vertical-evento.png);background-repeat: no-repeat;margin-left: 0.7%;background-size: contain;">
                            <p class="banner-vertical-info">III FORO<br>INTERNACIONAL<br>DE EDUCACIÓN<br>SUPERIOR EN<br>ENTORNOS<br>VIRTUALES</p>
                            <a href=""><p class="leer-mas-banner-vertical">-LEER MÁS</p></a>
                        </div>
                        <div class="col-md-2" style="background-image: url(img/img_home/vertical-evento.png);margin-left: 1%;background-repeat: no-repeat;background-size: contain;">
                            <p class="banner-vertical-info">III FORO<br>INTERNACIONAL<br>DE EDUCACIÓN<br>SUPERIOR EN<br>ENTORNOS<br>VIRTUALES</p>
                            <a href=""><p class="leer-mas-banner-vertical">-LEER MÁS</p></a>
                        </div>
                        <div class="col-md-3" style="margin-left: -0.35%;">
                            <div style="padding-left: 0%;">

                                <!-------->
                                <div id="content">
                                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="background-color: #B2B2B2;padding-left: 4%">
                                        <li><a href="/#noticias" data-toggle="tab" style="padding: 6%;"><p class="tab-head text-center">NOTICIAS</p></a></li>
                                        <li><a href="/#eventos" data-toggle="tab" style="padding: 6%;"><p class="tab-head text-center">EVENTOS</p></a></li>
                                        <li><a href="/#twitter" data-toggle="tab" style="padding: 6%;"><p class="tab-head text-center">TWITTER</p></a></li>
                                    </ul>
                                    <div id="my-tab-content" class="tab-content">
                                        <div class="tab-pane active" id="noticias">
                                            <p class="tab-info">AIII FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                        </div>
                                        <div class="tab-pane" id="eventos">
                                            <p class="tab-info">BIII FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                        </div>
                                        <div class="tab-pane" id="twitter">
                                            <p class="tab-info">CIII FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN<br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                        </div>
                                    </div>
                                </div>


                                <script type="text/javascript">
                                    jQuery(document).ready(function ($) {
                                        $('#tabs').tab();
                                    });
                                </script>    
                            </div> <!-- container -->
                        </div>
                    </div>
                </div>

        </section>
        <!--Noticia Importante-->
        <section>
            <div class="container-fluid separador-gris" style="background-image: url(img/img_home/base_noticia.png)">
                <div class="col-md-12">
                    <p class="noticia-bg-negro">CONFERENCIA INTERNACIONAL ICDE 2015</p>
                    <p class="noticia-bg-negro-info">III FORO INTERNACIONAL DE EDUCACIÓN SUPERIOR EN ENTORNOS VIRTUALES</p>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid " style= "background-image: url(img/img_home/base_azul_20.png);padding-left: 8%;padding-right: 8%;" >
                <div class="col-md-4 espaciado-columnas-azul" style="margin-right: -10%;margin-left: 1.5%;">
                    <img class="img-responsive" src="img/img_home/imagen_oscar_26.png" alt="img-noticia">
                    <p class="nombre-rector">DR.OSCAR<br>BELLOSO</p>
                    <div class="container boton-compartir">
                        <i class="fa fa-plus-square fa-lg"></i>&nbsp;&nbsp;<a style="color: #FFFFFF;"href="">Compartir</a>
                    </div>

                </div>
                <div class="col-md-4 espaciado-columnas-azul">
                    <div class="container-fluid columna-central-azul-border">
                        <p class="titulo-info-noticia-azul">URBE CON SU CONCEPTO VANGUARDISTA<br> EN EDUCACIÓN A DISTANCIA,</p>
                        <p class="info-noticia-azul">está enmarcada en el uso y aplicación de avanzadas tecnologías de capacitación, sustentados en los más modernos modelos de aprendizaje que permiten la formación académica de nuestros clientes, a través de LMS (Learning Management System).<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</p>
                    </div>
                </div>
                <div class="col-md-4 espaciado-columnas-azul">
                    <div class="container">
                        <p class="tipo-link">VIDEO</p>
                        <p class="titulo-evento">CONFERENCIA INTERNACIONAL ICDE2015</p>
                        <p class="evento-info">III Foro Internacional de Educación Superior en Entornos Virtuales.</p>
                        <br>
                    </div>
                    <div class="container">
                        <p class="tipo-link">VIDEO</p>
                        <p class="titulo-evento">CONFERENCIA INTERNACIONAL ICDE2015</p>
                        <p class="evento-info">III Foro Internacional de Educación Superior en Entornos Virtuales.</p>
                        <br>
                    </div>
                    <div class="container">
                        <p class="tipo-link">VIDEO</p>
                        <p class="titulo-evento">CONFERENCIA INTERNACIONAL ICDE2015</p>
                        <p class="evento-info">III Foro Internacional de Educación Superior en Entornos Virtuales.</p>
                        <br>
                    </div>
                    <div class="container">
                        <p class="tipo-link">VIDEO</p>
                        <p class="titulo-evento">CONFERENCIA INTERNACIONAL ICDE2015</p>
                        <p class="evento-info">III Foro Internacional de Educación Superior en Entornos Virtuales.</p>
                        <br>
                    </div>
                </div>
            </div>
        </section>
