<!--Separador-Negro-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;</div>
</div>
<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_home/imagen_rotador_02.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;</div>
    <!--Separador Blanco-->
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;</div>
        <!--Noticias-Recientes-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="padding-left: 8.2%;">
                        <h2 class="noticias-recientes">NOTICIAS RECIENTES</h2>
                    </div>
                    <div class="col-md-6" style="padding-left: 0%;">
                        <a href=""><h5 class="ver-eventos">VER TODOS LOS EVENTOS >></h5></a>
                    </div>
                </div>
            </div>
            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;</div>
                <!--Eventos-->
                <div class="container" style="padding-bottom: 2%;">
                    <div class="row" style="margin-left: 3.8%;">
                        <div class="col-md-4" style="">
                            <div class="row">
                                <div class="col-md-12 noticias-left-bg">
                                    <a href=""><p class="noticias-left-text">CONFERENCIA INTERNACIONAL ICDE 2015</p></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 noticias-left-bg-2">
                                    <a href=""><p class="noticias-left-text">III FORO INTERNACIONAL DE EDUCACIÓN SUPERIOR EN ENTORNOS VIRTUALES</p></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 noticias-left-bg">
                                    <a href=""><p class="noticias-left-text">CONGRESO CREAD ANDES Y ENCUENTRO VIRTUAL EDUCA ECUADOR</p></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 noticias-left-bg-2">
                                    <a href=""><p class="noticias-left-text">EVENTO UAPA-CREAD CITICED</p></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 noticias-left-bg-video" style="margin-top: 0%;padding: 0%;margin-left: 4.5%;">
                                    <div class="container" style="padding: 0%; padding-top: 7.5%; padding-bottom: 7.5%;margin: -2%;">
                                        <video width="350" height="220" controls>
                                            <source src="video/web.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <!-- <img class="img-responsive" src="img/img_home/img-libro.png" alt="img-libro"> -->
                                </div>
                            </div>
                            <div class="container-fluid" style="padding: 0%,margin: 0%"></div>
                        </div>
                        <div class="col-md-2" style="background-image: url(img/img_home/caled.png);background-repeat: no-repeat;margin-left: 0.7%;background-size: contain;">
                            <p class="banner-vertical-info">CONGRESO CREAD
                                <br>ANDES Y ENCUENTRO
                                <br>VIRTUAL
                                <br>EDUCA
                                <br>ECUADOR
                                <br>
                            </p>
                            <a href=""><p class="leer-mas-banner-vertical">-LEER MÁS</p></a>
                        </div>
                        <div class="col-md-2" style="background-image: url(img/img_home/citiced.png);margin-left: 1%;background-repeat: no-repeat;background-size: contain;">
                            <p class="banner-vertical-info">EVENTO
                                <br>UAPA
                                <br>-
                                <br>CREAD
                                <br>CITICED
                                <br>
                            </p>
                            <a href=""><p class="leer-mas-banner-vertical">-LEER MÁS</p></a>
                        </div>
                        <div class="col-md-3" style="margin-left: -0.35%;">
                            <div style="padding-left: 0%;">
                                <!--tab de eventos, noticias y twitter-->
                                <div id="content">
                                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="background-color: #B2B2B2;padding-left: 3%">
                                        <li>
                                            <a href=".noticias" data-toggle="tab" style="padding: 6%;"><p class="tab-head text-center">NOTICIAS</p></a>
                                        </li>
                                        <li>
                                            <a href=".eventos" data-toggle="tab" style="padding: 6%;"><p class="tab-head text-center">EVENTOS</p></a>
                                        </li>
                                        <li>
                                            <a href=".twitter" data-toggle="tab" style="padding: 6%;"><p class="tab-head text-center">TWITTER</p></a>
                                        </li>
                                    </ul>
                                    <div id="my-tab-content" class="tab-content">
                                        <div class="tab-pane active noticias" id="noticias">
                                            <p class="tab-info">CONGRESO CREAD ANDES Y ENCUENTRO
                                                <br>VIRTUAL EDUCA ECUADOR</p>
                                            <p class="tab-info-date">-NOVIEMBRE, 25, 2015</p>
                                            <p class="tab-info">EVENTO UAPA
                                                <br>-CREAD CITICED</p>
                                            <p class="tab-info-date">-OCTUBRE, 21, 2015</p>
                                            <p class="tab-info">• INFO AIESAD</p>
                                            <p class="tab-info-date">-Agosto, 06, 2015</p>
                                            <p class="tab-info">• INFO RIED</p>
                                            <p class="tab-info-date">-Agosto, 06, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN
                                                <br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                        </div>
                                        <div class="tab-pane" id="eventos">
                                            <p class="tab-info">CONGRESO CREAD ANDES Y ENCUENTRO
                                                <br>VIRTUAL EDUCA ECUADOR</p>
                                            <p class="tab-info-date">-NOVIEMBRE, 25, 2015</p>
                                            <p class="tab-info">EVENTO UAPA
                                                <br>-CREAD CITICED</p>
                                            <p class="tab-info-date">-OCTUBRE, 21, 2015</p>
                                            <p class="tab-info">• INFO AIESAD</p>
                                            <p class="tab-info-date">-Agosto, 06, 2015</p>
                                            <p class="tab-info">• INFO RIED</p>
                                            <p class="tab-info-date">-Agosto, 06, 2015</p>
                                            <p class="tab-info">III FORO INTERNACIONAL DE EDUCACIÓN
                                                <br>SUPERIOR EN ENTORNOS VIRTUALES</p>
                                            <p class="tab-info-date">-ABRIL, 13, 2015</p>
                                        </div>
                                        <div class="tab-pane twitter" id="twitter">
                                            <a class="twitter-timeline" href="https://twitter.com/urbe_intl" data-widget-id="629657546169651200" 
                                             height="435" data-chrome="nofooter noheader transparent">Tweets @Urbe_Intl.</a>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    jQuery(document).ready(function ($) {
                                        $('#tabs').tab();
                                    });
                                </script>
                            </div>
                            <!-- container -->
                        </div>
                    </div>
                </div>
        </section>
        <!--Noticia Importante-->
        <section>
            <div class="container-fluid separador-gris" style="background-image: url(img/img_home/base_noticia.png)">
                <div class="col-md-12">
                    <p class="noticia-bg-negro">CONFERENCIA INTERNACIONAL ICDE 2015</p>
                    <p class="noticia-bg-negro-info">III FORO INTERNACIONAL DE EDUCACIÓN SUPERIOR EN ENTORNOS VIRTUALES</p>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid " style="background-image: url(img/img_home/base_azul_20.png);padding-left: 8%;padding-right: 8%;">
                <div class="col-md-4 espaciado-columnas-azul" style="margin-right: -10%;margin-left: 1.5%;">
                    <img class="img-responsive" src="img/img_home/imagen_oscar_26.png" alt="img-noticia">
                    <p class="nombre-rector">DR.OSCAR
                        <br>BELLOSO MEDINA
                        <br>PRESIDENTE</p>
                    <div class="container boton-compartir">
                        <i class="fa fa-plus-square fa-lg"></i>&nbsp;&nbsp;
                        <a style="color: #FFFFFF;" href="">Compartir</a>
                    </div>
                </div>
                <div class="col-md-4 espaciado-columnas-azul">
                    <div class="container-fluid columna-central-azul-border">
                        <p class="titulo-info-noticia-azul">URBE CON SU CONCEPTO VANGUARDISTA
                            <br>EN EDUCACIÓN A DISTANCIA,</p>
                        <p class="info-noticia-azul">está enmarcada en el uso y aplicación de avanzadas tecnologías de capacitación, sustentados en los más modernos modelos
                            de aprendizaje que permiten la formación académica de nuestros clientes, a través de LMS (Learning Management System).
                            <br>&nbsp;
                            <br>&nbsp;
                            <br>&nbsp;
                            <br>&nbsp;
                            <br>&nbsp;
                            <br>&nbsp;</p>
                    </div>
                </div>
                <div class="col-md-4 espaciado-columnas-azul">
                    <div class="container">
                        <p class="tipo-link">EVENTO</p>
                        <p class="titulo-evento">CONGRESO CREAD ANDES Y
                            <br>ENCUENTRO VIRTUAL EDUCA ECUADOR</p>
                        <p class="evento-info">NOVIEMBRE 25 - 27 de 2015.</p>
                        <br>
                    </div>
                    <div class="container">
                        <p class="tipo-link">EVENTO</p>
                        <p class="titulo-evento">EVENTO UAPA - CREAD CITICED</p>
                        <p class="evento-info">OCTUBRE 21 - 23 de 2015.</p>
                        <br>
                    </div>
                    <div class="container">
                        <p class="tipo-link">VIDEO</p>
                        <p class="titulo-evento">CONFERENCIA INTERNACIONAL ICDE2015</p>
                        <p class="evento-info">III Foro Internacional de Educación Superior en Entornos Virtuales.</p>
                        <br>
                    </div>
                    <div class="container">
                        <p class="tipo-link">VIDEO</p>
                        <p class="titulo-evento">CONFERENCIA INTERNACIONAL ICDE2015</p>
                        <p class="evento-info">III Foro Internacional de Educación Superior en Entornos Virtuales.</p>
                        <br>
                    </div>
                </div>
            </div>
        </section>
        