<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_modelo_educativo/Modelo_Educativo_Banner.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <!-- INFORMACION -->
                            <div class="row" style="margin-bottom: 5%" >
                                <div class="col-md-2">

                                </div>

                                <div id="verLine1" class="col-md-1">
                                    <div class="verticalLine" style="height: 6400px">&nbsp;</div>
                                </div>

                                <div class="col-md-5">
                                    <p class="parrafo">
                                        Estudios a distancia a través de Internet es una modalidad instruccional que tiene como base el aprendizaje individualizado y colaborativo, que se operacionaliza a través de medios estructurados y autosuficientes que sirven de apoyo y conducen el proceso; brindando al participante la oportunidad de prepararse con una mayor flexibilidad, planificar mejor su tiempo, trabajar sobre sus propias áreas de oportunidad desarrollar una autonomía profesional y adquirir un sentido de aprendizaje autodidacta.<br><br>

                                        Nuestro modelo educativo es moderno y creativo con una concepción de la tecnología con implementaciones estructurales, académicas y operacionales, y no en la simple adquisición de equipos, es decir, que la plataforma instruccional se combina con la tecnológica para desarrollar un ambiente de aprendizaje virtual.<br><br>

                                        En la plataforma instruccional se plantea un enfoque constructivista basado en un aprendizaje significativo con la aplicación de técnicas metodológicas grupal e individual, resolucíon de problemas y la transferencia de conocimiento con el fin de desarrollar un aprendizaje, autodirigido y autocrítico.<br><br>

                                        Con el fin de promover un desarrollo del pensamiento crítico y creativo, apoyándose en recursos instruccionales, tales como: videos, ejercicios interactivos, videoconferencias; sin que la distancia del espacio y tiempo sean inconvenientes para la comunicación, por lo que se tiene Correo Electrónico, Foro de Discusión, Pizzarra Compartida, Biblioteca Virtual y Chat, a través de interacciones sincrónas y asincronas entre el facilitador - participante, participante - participante y participante - contenido.<br><br>
                                    </p>
                                </div>

                                <div id="verLine2" class="col-md-1">
                                    <div class="verticalLine" style="height: 6400px">&nbsp;</div>
                                </div>

                                <div class="col-md-3" align="center">
                                    <a href="http://www.urbeinternacional.com/#/diplomado"><img class="img-responsive" src="img/img_modelo_educativo/cert-internacional_06.png" alt="Front-URBE"></a>
                                </div>
                            </div>

                            <!-- AREA DE APRENDIZAJE -->
                                <div class="row" style="margin-bottom: 20%">
                                    <div class="col-md-2" style="margin-bottom: 2%">
                                        <div class="row">
                                            <h4 class="titulo">ÁREA DE APRENDIZAJE</h4>
                                        </div>
                                        <div class="row">
                                            <h5 class="titulo">EN EL CONTEXTO DEL DISEÑO INSTRUCCIONAL DE UN CURSO WEB LAS ÁREAS DE APRENDIZAJE SON:</h5>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-1"></div>

                                    <div class="col-md-5">
                                        <div class="row" align="center">
                                            <div class="col-md-4">
                                                <div class="primeraEtiquetaD" align="center">
                                                    <br><br>
                                                    <h4 class="titulo; tituloEnEtiqueta">PARTICIPANTE</h4>
                                                    <ul class="parrafo; parrafoEnEtiqueta">
                                                        <li>Estilo de aprendizaje</li>
                                                        <li>Experiencias previas</li>
                                                        <li>Intereses</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="segundaEtiquetaD" align="center">
                                                    <br><br>
                                                    <h4 class="titulo; tituloEnEtiqueta">IMPLEMENTACION</h4>
                                                    <ul class="parrafo; parrafoEnEtiqueta">
                                                        <li>Participante / Tutor</li>
                                                        <li>Participante / Participante</li>
                                                        <li>Participante / Contenido</li>
                                                        <li>Participante / Contexto</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="terceraEtiquetaD" align="center">
                                                    <br><br>
                                                    <h4 class="titulo; tituloEnEtiqueta">MULTIMEDIA</h4>
                                                    <ul class="parrafo; parrafoEnEtiqueta">
                                                        <li>Organización de los contenidos</li>
                                                        <li>Organización dentro del curso web</li>
                                                        <li>Navegación</li>
                                                        <li>Presentación</li>
                                                        <li>Interactividad</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1"></div>
                                    <div class="col-md-3"></div>
                                </div>

                            <!-- INFORMACION DE PARTICIPANTE -->
                            <div class="row" style="margin-bottom: 5%">
                                <div class="col-md-2" align="left">
                                    <h4 class="titulo">EL PARTICIPANTE</h4>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5">
                                    <p class="parrafo">
                                        A través de una ficha se conoce: las aptitudes y las diferencias individuales, estilos de aprendizaje, experiencias previas, preocupaciones, intereses, actitudes, incapacidades de los participantes para plasmarlas en el diseño de ambientes de aprendizaje interactivos, esta informacion sirve como insumo para las interrelaciones.
                                    </p>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3"></div>
                            </div>

                            <!-- INFORMACION DE LA IMPLEMENTACION -->
                            <div class="row" style="margin-bottom: 5%">

                                <div class="col-md-2">
                                    <h4 class="titulo">IMPLEMENTACIÓN</h4>
                                </div>

                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        Se refiere a la función del profesor/tutor y a los procedimientos que sigue para poner en práctica el curso. Es el diálogo que facilita la colaboración y la interacción entre todos los participantes del proceso en cualquier momento y en cualquier lugar, de manera de explorar el contenido, constituirse en un usuario y en un recurso al mismo tiempo, crear y compartir el conocimiento generado con cualquiera, ser escuchado y tener el control del proceso de aprendizaje. Interactuar es tener autonomía en el aprendizaje.<br><br>

                                        El tutor debe mejorar las habilidades prácticas de los estudiantes, enseñarlos a ser reflexivos, a que desarrollen las capacidades para resolver problemas, pensamiento crítico, y aprendizaje cooperativo y desarrollar aprendizajes profundos. Actuando desde tres grandes modos de acción que pretenden motivar en el estudio, mantener el interés, así como facilitar el vínculo social, académico e institucional del estudiante con la universidad.
                                    </p>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3"></div>

                            </div>

                            <!-- MULTIMEDIA -->
                            <div class="row">
                                <div class="col-md-2" style="margin-bottom: 2%">
                                    <h4 class="titulo">MULTIMEDIA</h4>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 5%">

                                <div class="col-md-2">
                                    <h5 class="titulo">EN EL CONTEXTO DEL DISEÑO INSTRUCCIONAL DE UN CURSO WEB LAS ÁREAS DE APRENDIZAJE SON:</h5>
                                </div>

                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <div class="jumbotron" style="padding: 0;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h4 class="titulo">ELEMENTOS</h4>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-7">
                                                <h4 class="titulo">DESCRIPCIÓN</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5 class="titulo">Organización de los contenidos</h5>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="verticalLine" style="height: 800px">&nbsp;</div>
                                        </div>
                                        <div class="col-md-7">
                                            <p class="parrafo">
                                                Es la estructura que se les da a los contenidos: muy estructuradas para aprendizajes introductorios o iniciales, en donde se aprenden hechos, procedimientos y reglas de manera que los participantes la sigan tal cual; y menos estructuras para niveles complejos y expertos, como desarrollar conceptos y principios, resolver problemas, entre otros, de manera que el participante tenga mayor libertad para explorar y buscar respuestas a sus propias preguntas y mayor control sobre lo que hace.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5 class="titulo">Organización del alumno dentro del curso Web</h5>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-7">
                                            <p class="parrafo">
                                                Disposición, colocación y arreglo del contenido de manera que el participante indentifique su posición dentro del curso, saber cómo llegó allí y cómo volver a la posición inicial. Las estrategias que utilizamos son básicamente tres: Claves visuales, Jerarquías e Índices y Redes Semánticas.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5 class="titulo">Navegación</h5>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-7">
                                            <p class="parrafo">
                                                Es la "interfase del usuario", "interacción alumno-computador" que minimiza la cantidad de esfuerzo mental que tiene que hacer el participante para controlar y manejar la interfase, de manera que le dedique todos sus esfuerzos o atención a la actividad presentada.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5 class="titulo">Presentación</h5>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-7">
                                            <p class="parrafo">
                                                Es la estructura del texto, su legibilidad y organización, con actividades auténticas, significativas y realistas, elementos como repasos y retroalimentación
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"></div>

                            </div>

                            <!-- PROCESO -->
                            <div class="row" style="margin-bottom: 5%">

                                <div class="col-md-2">
                                    <h4 class="titulo">PROCESO</h4>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        Procesos asociados EAD URBE INTERNACIONAL son la producción de cursos Web y el de administración o ejecución de los mismos, para lo cual ha conformado un equipo de profesionales multidiciplinarios: diseñadores intruccionales, diseñadores gráficos, programadores, diseñadores audiovisuales, administrador de Moodle, Web master, coordinador académico, asistentes técnicos en línea y personal de apoyo.
                                    </p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>

                            </div>

                            <div class="row" style="margin-bottom: 20%">

                                <div class="col-md-2">
                                </div>

                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <div class="row">
                                            <div class="col-md-6">
                                                <div class="primeraEtiquetaG" align="center">
                                                    <br><br>
                                                    <h4 class="titulo; tituloEnEtiqueta">PRODUCCIÓN</h4>
                                                    <ul class="parrafo; parrafoEnEtiqueta">
                                                        <li>Diseñadores instruccionales</li>
                                                        <li>Diseñadores gráficos</li>
                                                        <li>Programadores</li>
                                                        <li>Especialistas en contendio</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="segundaEtiquetaG" align="center">
                                                    <br><br>
                                                    <h4 class="titulo; tituloEnEtiqueta">EJECUCIÓN O ADMINISTRACIÓN</h4>
                                                    <ul class="parrafo; parrafoEnEtiqueta">
                                                        <li>Coordinador academico</li>
                                                        <li>ATL</li>
                                                        <li>Tutor</li>
                                                        <li>Participante</li>
                                                    </ul>
                                                </div>
                                            </div>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>

                            </div>

                        </div>

                        <!-- DISEÑO DE CURSOS WEB -->
                        <div class="row" style="margin-bottom: 5%">

                            <div class="col-md-2">
                                <h4 class="titulo">DISEÑO DE CURSOS WEB</h4>
                            </div>
                            <div class="col-md-1"></div>

                            <div class="col-md-5" style="padding-right:0px">
                                <p class="parrafo">
                                    El diseño instruccional implica una relación bien combinada entre: los objetivos, contenidos, recursos, estrategias y evaluación; así como también de técnicas y métodos para instrucciónes en especial, es decir, que varían según la teoría de aprendizaje que utiliza y necesidad de adiestramiento o formación, considerando: la individualidad, autonomía, la toma de decisiones, el juicio critico. Además de ello, estimula la percepción, el disfrute y  la aplicación del contenido. 
                                </p>
                            </div>

                            <div class="col-md-1"></div>
                            <div class="col-md-3"> </div>

                        </div>

                        <!-- ELEMENTOS QUE CONFORMAN UN CURSO -->
                        <div class="row" style="margin-bottom: 5%">
                            <div class="col-md-2">
                                <h4 class="titulo">ELEMENTOS QUE CONFORMAN UN CURSO</h4>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5%">

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">INTRO</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        Es una ventana desplegable que contiene la información general del curso:<br><br>

                                        nombre de la asignaturas, bienvenida, información del curso y actores participantes.
                                    </p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">MAPA DE CONTENIDOS</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        En este grupo están los contenidos en si del curso Web en la combinación con todos los elementos del diseño instruccional, los cuales son: Introducción general, objetivos, contenidos por unidad, actividades, evaluación(formativa, sumativa y auto-evaluación), recursos(animaciones, lecturas, vídeos, presentaciones, vínculos) por unidad, sinopsis, referencias bibliográficas y glosario.
                                    </p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>

                        </div>

                        <!-- ELEMENTOS QUE CONFORMAN UN CURSO -->
                        <div class="row" style="margin-bottom: 5%">
                            <div class="col-md-2">
                                <h4 class="titulo">WEB-ACTIVIDADES DE INTERACCIÓN</h4>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5%">

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">FORO</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        El foro es un servicio automatizado de mensajería, que a menudo será moderado por el tutor, en el cual los participantes escriben y reciben mensajes sobre un tema específico.<br><br>

                                        Los foros tendrán las siguientes características:
                                    </p>

                                    <ul>
                                        <li>Se realizarán de acuerdo con la programación realizada</li>
                                        <li>Serán sobre un tema de interés relacionado con el desarrollo de cada unidad</li>
                                        <li>Tendrán un tiempo establecido para que participes, generalmente de tres días continuos a partir de la fecha establecida</li>
                                        <li>Son de carácter obligatorio y serán parte de la evaluación del curso.</li>
                                    </ul>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">CHAT</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        Las charlas en línea nos permite mantener una conversación entre dos o más personas a través de Internet.Nomalmente accedemos a ellas a través de una 'ventana' que presenta dos espacios diferenciados: uno, en el que además de ver el nombre de los distintos participantes van apareciendo por pantalla los comentarios o mensajes que éstos van enviando y, otro, donde podemos escribir nuestra respuestas y observaciones.<br><br>

                                        Dichas charlas tendrán las siguientes características:
                                    </p>

                                    <ul>
                                        <li>Estarán organizadas por temas</li>
                                        <li>Formarán parte de la evaluación formativa y sumativa</li>
                                        <li>Serán un medio de interacción entre el tutor y los alumnos</li>
                                        <li>Las charlas serán en equipos de trabajo. Cada equipo deberá seleccionar un tema de interés</li>
                                        <li>Un chat tendrá un número de sesiones de acuerdo con la cantidad de grupos establecidos. Sólo habrá un chat por grupo y será de carácter obligatorio.</li>
                                        <li>Habrán chats libres, no evaluados, que servirán para ofrecer asesorías.</li>
                                    </ul>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">VIDEO CONFERENCIA</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        La video conferencia es un sistema que permite mantener una comunicación simultánea entre dos o más puntos habilitados y conectados a las redes de transmisión de datos.<br><br>

                                        Este típo de comunicacion se caracteriza por:
                                    </p>

                                    <ul>
                                        <li>Integral: permite el envío de imagen(personas, presentaciones PowerPoint, video, multimedia, etc.), sonido(voz de alta calidad, música, multimedia, etc.) y datos(ficheros automáticos, base de datos, web, etc.).</li>
                                        <li>Interactiva: permite una comunicación bidireccional en todo momento</li>
                                        <li>De alta calidad y definición, al distribuirse la señal a través de la red de banda ancha.</li>
                                        <li>Sincrona: es decir, en tiempo real, pues se transmite en vivo y en directo desde un punto a otro o entre varios puntos a la vez.</li>
                                    </ul>

                                    <br><br>Recuerda que algunas actividades realizadas a través de la video conferencia podrán ser obligatorias y será parte de la evaluación tanto sumativa como formativa.<br><br>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">CORREO ELECTRÓNICO</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        El correo electrónico es un sistema de envío, recepción y almacenamiento de mensajes a través de Internet que simplifica y mejora el proceso comunicativo tradicional. Será una herramienta muy útil en el desarrollo del curso, ya que va a ser el recurso más utilizado, no sólo para informarte sobre actividades y evaluaciones, sino también para comunicarte con el tutor si llegas a tener dudas en algún momento del curso. Además, será la vía más fácil que podrás tomar a la hora de pautar una reunión con tus compañeros de clase<br><br>

                                        Tienes disponible nuestro portal www.urbeinternacional.com durante las 24 horas del día, todos los días, los contenidos del curso, cronograma, recursos multimedia y actividades, asi como información adicional del mismo<br><br>

                                        Contarás con Asistencia Técnica en Línea, desde las 8 am hasta las 10 pm, de lunes a viernes, para recibir ayuda sobre problemas técnicos.<br><br>

                                        Las actividades de aprendizaje que realizarás son de diversos tipos: resolución de problemas, trabajamos de investigación, estudio de casos, ensayos, entre otros; pueden ser individuales y/o grupales.
                                    </p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>
                        </div>

                        <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo">LAS EVALUACIONES</h4>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        Las evaluaciones de los POSTGRADOS serán a distancia y presenciales, previa planificación que se establecerá al inicio de cada periodo académico. En el ambito de la educación a distancia los recursos para evaluar estarán también mediatzados por la tecnología. Algunos instrumentos por los tutores serán enviados vía correo electrónico, o presentar pruebas que se administrarán automáticamente en el campus facilitando el feed-back y auto evaluación constante a los participantes.<br><br>

                                        Por ellos es necesario considerar una evaluación bien planificada en la que se valore y recolecten datos que permitan tanto al participante como al tutor en línea mejorar los procesos de enseñanza y aprendizaje y en la que adquiere un valor relevante al proceso de feed-back.<br><br>

                                        Las evaluaciones de los cursos o DIPLOMADOS son totalmente a distancia. Pueden realizarse a través de la participación en chats, foros; de la realizacion de examenes y de la entrega de trabajos a través del correo electronico. Todo lo concerniente a la naturaleza y cobertura de las evaluaciones, se dará a conocer al inicio de las clases en el plan de evaluación. Durante el curso o diplomado se ofrecerá información oportuna sobre los resultados. En estos cursos o diplomados se otorga en Certificado de Aprobación.<br><br>
                                    </p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">CARACTERISTICAS PARTICULARES PARA ESTUDIAR A DISTACIA</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        Para estudiar a distancia es importante que seas una persona responsable de tu aprendizaje, con expectativas bien definidas y con la necesidad imperante de mejorar y actualizarte profesionalmente.<br><br>
                                    </p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">HORARIO DE CLASES</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        En los cursos a distancia y en los semi-presenciales no asistiras a clases, sin embargo, tendrás que actividades de asesoría y de evaluación planificadas en horarios específico que, generalmente, son acordados entre los participantes y el profesor o tutor en línea. Estos horarios se te enviarán en el correo inicial de Bienvenida<br><br>
                                    </p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">HORAS DISPONIBLES PARA INTERACTUAR CON EL PROFESOR(TUTOR EN LÍNEA)</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        Cada curso cuenta con un(a) tutor(a) para asesorarte y guiarte en tu proceso de aprendizaje. El número de horas de interacción con el tutor dependerá de el número de horas que tenga el curso, como por ejemplo: 2 horas, 2 veces a la semana, para el caso de un curso de 4 horas semanales.<br><br>
                                    </p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">PARA ACCEDER AL CURSO WEB, UNA VEZ INSCRITO</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        Una vez inscrito en un curso, Estudios a Distancia te asignará una clave confidencial que recibirás a través de tu correo electrónico. Con esta clave, una computadora, conexion a Internet y nuestras indicaciones podrás ingresar al curso e iniciar tus clases.<br><br>
                                    </p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"> </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>