<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_nosotros/nosotros_banner.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <!-- INFORMACION -->
                            <div class="row">
                                <div class="col-md-2">

                                </div>

                                <div id="verLine1" class="col-md-1">
                                    <div class="verticalLine" style="height: 1950px">&nbsp;</div>
                                </div>

                                <div class="col-md-5">
                                    <p class="parrafo">
                                        URBE, con su concepto vanguardista en educación a distancia, está enmarcada en el uso y aplicación de avanzadas tecnologías de capacitación, sustentadas en los más modernos modelos de aprendizaje que permiten la formación académica de nuestros clientes, a través de LMS (Learning Management System).
                                    </p>
                                </div>

                                <div id="verLine2" class="col-md-1">
                                    <div class="verticalLine" style="height: 1950px">&nbsp;</div>
                                </div>

                                <div class="col-md-3">
                                </div>
                            </div>

                            <!-- MISION, VISION Y OBJETIVOS -->
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-2" style="margin-bottom: 2%">
                                        <h4 class="titulo">MISIÓN, VISIÓN Y OBJETIVOS</h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2" style="margin-bottom: 5%" align="right">
                                        <h5 class="titulo">MISIÓN</h5>
                                    </div>
                                    <div class="col-md-1"></div>

                                    <div class="col-md-5">
                                        <p class="parrafo">
                                            Formar profesionales de alto desempeño con incidencia internacional, respaldados en estándares de la dinámica local y global, que promuevan el desarrollo e investigación científica, humanística y tecnológica de su entorno inmediato.
                                        </p>
                                    </div>

                                    <div class="col-md-1"></div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2"  style="margin-bottom: 5%" align="right">
                                        <h5 class="titulo">VISIÓN</h5>
                                    </div>
                                    <div class="col-md-1"></div>

                                    <div class="col-md-5">
                                        <p class="parrafo">
                                            Ser líder en la gestión del conocimiento humano a través  de las tecnologías de información y comunicación, para apalancar los procesos productivos organizacionales.
                                        </p>
                                    </div>

                                    <div class="col-md-1"></div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2" align="right">
                                        <h5 class="titulo">OBJETIVO</h5>
                                    </div>
                                    <div class="col-md-1"></div>

                                    <div class="col-md-5">
                                        <p class="parrafo">
                                            Ofrecer métodos, técnicas y recursos que hacen más efectivo y flexible el proceso enseñanza-aprendizaje, mediante la educación a distancia como estrategia educativa basada en el uso intensivo de las nuevas tecnologías, estructuras operativas flexibles y métodos pedagógicos altamente eficientes.
                                        </p>
                                    </div>

                                    <div class="col-md-1"></div>
                                    <div class="col-md-3" style="margin-bottom: 15%"></div>

                                </div>
                            </div>

                            <!-- VALORES -->
                            <div class="row">

                                <div class="col-md-2">
                                    <h4 class="titulo">VALORES</h4>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" style="padding-right:0px">
                                    <p class="parrafo">
                                        En <span style="color: #B40404">URBE INTERNACIONAL</span> pretendemos ser exahustivos con nuestros valores los cuales constituyen el marco de referencia que queremos construir. Dentro de ese conjunto de valores se encuentran:<br><br>

                                         <span style="color: #B40404">El Trabajo en Equipo</span><br>
                                       Valor fundamental que cada empleado de URBE  Internacional aporta a los trabajos realizados en conjunto, a través del reconocimiento, del respeto y de la humildad.
<br><br>

                                        <span style="color: #B40404">La Excelencia Personal</span><br>
                                        Impulsamos el crecimiento integral de todos los miembros de URBE Internacional, a fin de permanecer en la vanguardia de la educación, conocimiento aplicado e innovación tecnológica.<br><br>

                                        <span style="color: #B40404">La Responsabilidad</span><br>
                                        Nos basamos en lo social e individual, el éxito de la organización responde al impacto de las acciones de nuestros integrantes en su hogar, empresa y sociedad.<br><br>

                                        <span style="color: #B40404">El Saber</span><br>
                                            <span style="color: #08088A">Saber</span> los conocimientos necesarios para ejecutar nuestras labores exitosamente.<br>
                                            <span style="color: #08088A">Saber hacer:</span> aplicamos correctamente los conocimientos que adquirimos.<br>
                                            <span style="color: #08088A">Saber estar, saber ser: </span>mantenemos actitudes empáticas dentro y fuera de la organización.<br>
                                            <span style="color: #08088A">Saber aprender:</span> mejoramos continuamente nuestras capacidades.<br>
                                            <span style="color: #08088A">Hacer saber: </span>transferimos los conocimientos desarrollados entre nuestros integrantes.<br>
                                            <br>

                                        <span style="color: #B40404">La Confiabilidad</span><br>
                                        Como defensores de la confidencialidad de nuestros clientes, manejamos con integridad los negocios; somos congruentes en lo que decimos y hacemos.<br><br>

                                        <span style="color: #B40404">La Calidad</span><br>
                                        Estamos comprometidos en proporcionar un excelente servicio a nuestros clientes. Sustentamos el éxito con la eficacia y dedicación que ofrecemos en URBE Internacional.<br><br>

                                        <span style="color: #B40404">El Liderazgo</span><br>
                                        Poseemos una estructura completa y el personal calificado para alcanzar todos los objetivos que nos planteamos. <br><br>

                                        <span style="color: #B40404">La Adaptabilidad</span><br>
                                        Nos adecuamos a las nuevas realidades, mercados, tecnologías y cultura en la ejecución de nuestros proyectos.<br><br>

                                        <span style="color: #B40404">La Solidaridad</span><br>
                                        Reconocemos las acciones de ser servicial, la colaboración y compañerismo, como elementos clave, con las que todas las personas somos igualmente valoradas y desarrollamos nuestra identidad común de URBE Internacional.<br><br>
                                    </p>
</div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3">
                                </div>

                            </div>

                            <!-- POLITICA DE CALIDAD -->
                            <div class="row">
                                <div class="col-md-2" style="margin-bottom: 2%">
                                    <h4 class="titulo">POLÍTICA DE CALIDAD</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" style="margin-bottom: 5%" align="left">
                                    <h5 class="titulo">NUESTRA POLÍTICA DE CALIDAD ES OFERECER UN SERVICIO PROFESIONAL Y DE LIDERAZGO A TODOS NUESTROS CLIENTES SIN DISTINCIÓN ALGUNA A TRAVÉS DE:</h5>
                                </div>
                                <div class="col-md-1"></div>

                                <div class="col-md-5">
                                    <ul class="parrafo">
                                        <li>Una planificación efectiva orientada al logro de nuestra Misión.</li>
                                        <li>La mejora continua de los procesos que influyen en nuestros productos.</li>
                                        <li>La conversación de la credibilidad y del liderazgo alcanzado durante la producción y ejecución de cursos en línea.</li>
                                        <li>La superación permanente de nuestro personal.</li>
                                    </ul>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>