<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_noticias/BANNER_NOTICIAS.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-3">
                                    <h2 class="titulo">LISTA</h2><br>
                                    <h4 class="titulo">AGOSTO(2015)</h4><br>
                                    <div align="left">
                                        <ul class="parrafo" style="tex">
                                            <li>Evento Virtual Educa</li>
                                            <li>Evento UAPA - CREAD</li>
                                            <li>Info AIESAD</li>
                                            <li>Info RIED</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 2200px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="center">
                                    <img class="img-responsive" style="margin-bottom: 10%" src="img/img_noticias/citiced_noticia.png" alt="Front-URBE">
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 2200px">&nbsp;</div>
                                </div>

                                <div class="col-md-2" align="center">
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 5%">
                                <div class="col-md-3">
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        La novena versión del Congreso Internacional sobre la Tecnología de la Información, Comunicación y Educación a Distancia, CITICED, se llevará a cabo del 21 al 23 de octubre de 2015, bajo el título: “Experiencias Globales en Innovación, Evaluación y Acreditación en la Educación Superior a Distancia”. La Universidad Abierta para Adultos es la institución anfitriona de este importante evento.<br><br>

                                        El CITICED nace en el año 2003 auspiciado por esta misma institución en asociación con el Consorcio-Red de Educación a Distancia (CREAD). Desde el Ministerio de Educación Superior Ciencia y Tecnología se ha recibido un gran apoyo en cada unas de las ocho versiones realizadas. Es un evento muy reconocido por los Ministerios de Educación y las Instituciones de Educación Superior del país, también a nivel internacional. En el mismo se promueven nuevas ideas sobre los más diversos asuntos en Educación Superior a Distancia y las Tecnologías de la Información y la Comunicación, especialmente sobre la calidad, la innovación y uso de las TIC en Educación.<br><br>

                                        En esta nueva versión se abordarán los siguientes ejes temáticos: Evaluación de la Calidad en la Educación Superior a Distancia; Acreditación en la Educación Superior a Distancia, Innovación y Práctica Pedagógica empleando las TIC en al ESaD; y Políticas públicas para el aseguramiento de la calidad en la ESaD, con el propósito de construir una cultura de mejora constante de la calidad por medio de la evaluación para la acreditación a nivel nacional e internacional. Se contarán con expertos de los 5 continentes, invitamos a los académicos que deseen participar a que nos envíen una propuesta para presentar su trabajo, ya sea una conferencia, ponencia y talleres.<br><br>
                                    </p>

                                    <div class="container-fluid" style="padding:0; margin:0">
                                        <iframe class="youtube-player" src="https://www.youtube.com/embed/yO1M_TyfMXU"
                                        title="YouTube video player" frameborder="0"" height="240" width="426"></iframe>
                                    </div><br><br>

                                    <p class="parrafo">
                                        Objetivo general<br><br>

                                        Generar un espacio de análisis, discusión y socialización, relacionados con la Experiencias Globales en Innovación, Evaluación y Acreditación en la Educación Superior a Distancia que propicien una cultura de evaluación y de la calidad en la misma.<br><br>

                                        Objetivos Específicos<br><br>

                                        Analizar los diferentes modelos de evaluación de calidad en la Educación Superior a Distancia.<br>
                                        Contribuir en la discusión y socialización de instrumentos para la evaluación y la acreditación de Programas de Educación Superior a Distancia.<br>
                                        Conocer las buenas prácticas que se desarrollan en las áreas de Innovación y Práctica Pedagógica empleando las TIC en ESaD.<br>

                                        Ejes Temáticos:<br><br>

                                        I- Evaluación de la Calidad en la Educación Superior a Distancia.<br><br>

                                        Estándares de Calidad en la ESaD<br>
                                        Evaluación del Proceso Pedagógico<br>
                                        Instrumentos de Evaluación en entornos virtuales<br>
                                        Evaluación de las competencias tecnológicas de los docentes<br>
                                        Evaluación de la Formación Docente en la ESaD<br>
                                        Evaluación de los aprendizajes en la ESaD<br><br>

                                        II- Acreditación en la Educación Superior a Distancia.<br><br>

                                        Agencias Acreditadoras<br>
                                        Modelos de Acreditación en ESaD<br>
                                        Impacto de la Acreditación en la Calidad de ESaD<br>
                                        Experiencias Nacionales e Internaciones en ESaD<br>
                                        Formación de Evaluadores<br><br>

                                        III- Innovación y Práctica Pedagógica empleando las TIC en la ESaD.<br><br>

                                        Herramientas tecnológicas implementadas en<br>
                                        Herramientas docentes para gestionar la evaluación de los aprendizajes<br>
                                        Diseño de Cursos Virtuales<br>
                                        Formación Docente en la ESaD<br>
                                        Tutoría<br><br>

                                        IV- Políticas públicas para el aseguramiento de la calidad en la ESaD.<br><br>

                                        Marcos normativos<br>
                                        Experiencias nacionales<br>
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-2" align="center">
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </section>
            </div>
        </div>
        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>