<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_noticias/BANNER_NOTICIAS.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-3">
                                    <h2 class="titulo">LISTA</h2><br>
                                    <h4 class="titulo">AGOSTO(2015)</h4><br>
                                    <div align="left">
                                        <ul class="parrafo" style="tex">
                                            <li>Evento Virtual Educa</li>
                                            <li>Evento UAPA - CREAD</li>
                                            <li>Info AIESAD</li>
                                            <li>Info RIED</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 800px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="center">
                                    <img class="img-responsive" style="margin-bottom: 10%" src="img/img_noticias/NOTICIAS_ried.png" alt="Front-URBE">
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 800px">&nbsp;</div>
                                </div>

                                <div class="col-md-2" align="center">
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 5%">
                                <div class="col-md-3">
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        La Asociación Iberoamericana de Educación Superior a Distancia (AIESAD) es una entidad creada para impulsar la Educación a Distancia en beneficio de los  pueblos de Iberoamérica. Entre sus objetivos están los de investigación, información e intercambio de experiencias.<br><br>
  
                                        La "RIED. Revista Iberoamericana de Educación a Distancia" se configura como el instrumento de la AIESAD para la difusión internacional de los avances en la  investigación e innovación dentro del ámbito de la enseñanza y aprendizaje abiertos y a distancia en sus diferentes formulaciones y presentaciones. La RIED nació en el año 1998 sucediendo a la anterior Revista Iberoamericana de Educación Superior a Distancia, que se creó en 1988. La RIED se presenta en formato impreso y electrónico con idénticos contenidos en ambos casos.<br><br>
                                          

                                        Son sus objetivos básicos: a) Publicar relevantes y rigurosos trabajos de investigación en el ámbito de la educación abierta y a distancia, b) Ofrecer experiencias innovadoras, originales y de calidad, siempre relativas al ámbito de la educación en formatos no presenciales, c) Presentar las novedades editoriales que se puedan producir y que tengan relación directa con las modalidades no presenciales.<br><br>

                                        La RIED publica en español, portugués e inglés y tiene una periodicidad semestral.<br><br>
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-2" align="center">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>