<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_noticias/BANNER_NOTICIAS.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-3">
                                    <h2 class="titulo">LISTA</h2><br>
                                    <h4 class="titulo">AGOSTO(2015)</h4><br>
                                    <div align="left">
                                        <ul class="parrafo" style="tex">
                                            <li>Evento Virtual Educa</li>
                                            <li>Evento UAPA - CREAD</li>
                                            <li>Info AIESAD</li>
                                            <li>Info RIED</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 2200px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="center">
                                    <img class="img-responsive" style="margin-bottom: 10%" src="img/img_noticias/NOTICIAS_aiesad.png" alt="Front-URBE">
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 2200px">&nbsp;</div>
                                </div>

                                <div class="col-md-2" align="center">
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 5%">
                                <div class="col-md-3">
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        Con más de 30 años de tradición, la Asociación Iberoamericana de Educación Superior a Distancia (AIESAD) actúa para fomentar, promover e integrar la Educación Superior a Distancia en la región Iberoamericana, especialmente entre las 13 naciones que integran la asociación y las más de 30 instituciones de educación superior que la conforman.<br><br>

                                        La Asociación tiene como objeto contribuir a la vida académica de los directivos, profesores y estudiantes de las universidades miembros de AIESAD, a través de diversos proyectos de democratización de la información relevante y de calidad en la Educación Superior a Distancia (EAD), así como el intercambio de experiencias punteras en esta área del conocimiento.<br><br>

                                        La AIESAD fue creada en 1980, durante el I Simposio Iberoamericano de Rectores de Universidades Abiertas, celebrado en Madrid, España. En esa ocasión, la Comisión organizadora estaba compuesta por los representantes de la Universidad Nacional de Educación a Distancia (España), la Universidad Estatal a Distancia (Costa Rica), la Universidad Nacional Abierta (Venezuela), la Universidad de la Sabana (Bogotá, Colombia), la Universidad de Brasilia (Brasil) y la Universidad Nacional Autónoma de México.<br><br>

                                        Fines de la Aiesad<br><br>

                                        Facilitar la información, cooperación y coordinación de esfuerzos de las instituciones que la integran a través de proyectos conjuntos. La cooperación académica, técnica y administrativa necesaria, alcanzará el ámbito internacional cuando así lo requieran los objetivos acordados (europeo e Iberoamericano).<br><br>

                                        Promover la investigación y aplicación de nuevas metodologías y técnicas en el ámbito de la educación superior a distancia y facilitar su utilización por las instituciones asociadas.<br><br>

                                        Fomentar la formación de profesores y técnico en la modalidad de educación a distancia, así como en todas aquellas materias que afecten a la EAD.<br><br>

                                        Procurar la mejor utilización de los servicios tecnológicos didácticos y humanos en beneficio de las instituciones asociadas.<br><br>

                                        Propiciar la elaboración de cursos y materiales didácticos conjuntos, adaptados a las peculiares necesidades de los países iberoamericanos.<br><br>

                                        Intercambiar experiencias relacionadas con la organización, desarrollo y evaluación de la educación superior a distancia.<br><br>

                                        Facilitar el intercambio de profesores, investigadores, administradores y estudiantes entre los miembros de la Asociación, así como la movilidad (virtual y presencial) entre las instituciones que integran la AIESAD.<br><br>

                                        Elaborar programas educativos y culturales de interés común para todos los países del área.<br><br>

                                        Promover y participar en procesos de evaluación y certificación institucionales a solicitud de algunos de sus miembros o de sus correspondientes gobiernos, siempre con carácter subsidiario y sin exceder el ámbito de sus competencias.<br><br>

                                        Conocer y relacionarse con otras asociaciones que persigan fines semejantes.<br><br>

                                        Favorecer el desarrollo de iniciativas para llevar a cabo programas y actividades de intercambios e integración mediante la formalización de convenios conjuntos, generales o particulares entre los miembros de la Asociación.<br><br>

                                        Facilitar a sus miembros la posibilidad de intervenir en programas internacionales de cooperación, ayudas y concursos convocados por organismos internacionales de cooperación, mediante la creación de proyectos de estudio, cooperación e investigación.<br><br>

                                        Desarrollar actividades orientadas a elevar la calidad en la Educación Superior a Distancia y especialmente potenciar la formación de expertos en materia de acreditación de la calidad.<br><br>

                                        Promover la organización de encuentros y reuniones de expertos y autoridades académicas iberoamericanas, así como de todas aquellas actividades que redunden en beneficio de la necesaria solidaridad de los pueblos de Iberoamérica y de la potenciación de la cultura común dentro de los fines que le son propios.<br><br>

                                        Publicar con la periodicidad más adecuada un boletín que informará de las actividades, reuniones y encuentros que lleve a cabo, y que sean de interés para sus miembros.<br><br>

                                        Publicar semestralmente la Revista Iberoamericana de Educación a Distancia (RIED), cuya financiación, contenidos, dirección y administración se regirán por unas normas que, a tal fin, deberá aprobar el Consejo Directivo de la Asociación de acuerdo con los criterios de rigor científico al uso.<br><br>
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-2" align="center">
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

            </div>
        </div>

        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>