<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_noticias/BANNER_NOTICIAS.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-3">
                                    <h2 class="titulo">LISTA</h2><br>
                                    <h4 class="titulo">AGOSTO(2015)</h4><br>
                                    <div align="left">
                                        <ul class="parrafo" style="tex">
                                            <li>URBE Internacional llega a República Dominicana</li>
                                            <li>Evento Virtual Educa</li>
                                            <li>Evento UAPA - CREAD</li>
                                            <li>Info AIESAD</li>
                                            <li>Info RIED</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 870px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="center">
                                    <img class="img-responsive" style="margin-bottom: 10%" src="img/img_noticias/NoticiaNueva3.png" alt="Front-URBE">
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 870px">&nbsp;</div>
                                </div>

                                <div class="col-md-2" align="center">
                                    <h3 class="titulo">Galeria</h3><br>
                                    <img class="img-responsive" style="margin-bottom: 10%" src="img/img_noticias/NoticiaNueva.png" alt="Front-URBE">
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 5%">
                                <div class="col-md-3">
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        Desde este 1 de octubre URBE Internacional brindará su oferta académica de estudios a distancia en República Dominicana; postgrados, diplomados y cursos de perfeccionamiento profesional, que se desarrollarán a través del nuevo concepto de formación.<br><br>
                                        
                                        En ese sentido, la institución vanguardista en educación a distancia promete una formación académica de altura, basándose en las tecnologías de capacitación más avanzadas. Posee el Data Center más grande en Latinoamérica dedicado a la educación.<br><br>

                                        Urbe Internacional forma expertos a través de internet, usando textos, imágenes, sonidos, animación, videos y recursos hipertextuales que permiten la interacción facilitador-participante en la web; rompe la barrera de la presencialidad, le ahorra tiempo y le brinda comodidades de aprendizaje a sus clientes.<br><br>

                                        Enfocada en su crecimiento mundial, la organización arriba a Centroamérica con la visión de liderar la gestión del conocimiento humano a través de las tecnologías de información y comunicación, para apalancar los procesos productivos organizacionales.<br><br>
                                        
                                        Igualmente, pretende formar profesionales de alto desempeño con incidencia internacional, que promuevan el desarrollo e investigación científica, humanística y tecnológica de su entorno inmediato.<br>
                                        El trabajo en equipo, la excelencia personal junto a la responsabilidad, son los valores organizacionales que con mayor énfasis promoverá Urbe Internacional para alcanzar sus objetivos. 
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-2" align="center">
                                
                                    <img class="img-responsive" style="margin-bottom: 10%" src="img/img_noticias/NuevaNoticia2.png" alt="Front-URBE">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>