<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_noticias/BANNER_NOTICIAS.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-3">
                                    <h2 class="titulo">LISTA</h2><br>
                                    <h4 class="titulo">AGOSTO(2015)</h4><br>
                                    <div align="left">
                                        <ul class="parrafo" style="tex">
                                            <li>Evento Virtual Educa</li>
                                            <li>Evento UAPA - CREAD</li>
                                            <li>Info AIESAD</li>
                                            <li>Info RIED</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 1300px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="center">
                                    <img class="img-responsive" style="margin-bottom: 10%" src="img/img_noticias/VIRTUAL_EDUCA_EVENTO_1.png" alt="Front-URBE">
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 1300px">&nbsp;</div>
                                </div>

                                <div class="col-md-2" align="center">
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 5%">
                                <div class="col-md-3">
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        El fenómeno de la globalización, competitividad internacional, y la incorporación de las nuevas tecnologías de la información y comunicación (TIC´s), han contribuido en la creación de espacios de comunicación, interacción y capacitación, para que todas las personas se formen y eduquen en la virtualidad, sin embargo el conocimiento compartido, las técnicas de enseñanza y los entornos virtuales poca de las veces cumplen con criterios de accesibilidad y calidad, negando la posibilidad a ciertos grupos de usuarios con condiciones especiales a la participación y al aprendizaje continuo, es aquí donde nace la necesidad de contar con una oferta educativa, accesible y de calidad.<br><br>

                                        La calidad debe atender a cada uno de estos nuevos entornos, productos y servicios virtuales para evaluar el cumplimiento de normas de accesibilidad, con el fin de que todas las personas especialmente las menos favorecidas debido a diversas condiciones geográficas, de ubicación, horarios de trabajo u otras condiciones que impiden su crecimiento profesional puedan acceder a una educación sin discriminación, fortaleciendo sus capacidades desde un enfoque constructivista, denotando, el desarrollo de habilidades para el aprendizaje autónomo.<br><br>

                                        Éste es el tema que nos convoca a la realización del V Congreso Cread Andes y V Encuentro Virtual Educa Ecuador, organizado por CALED, CREAD, VIRTUAL EDUCA y la UTPL, con el fin de reflexionar sobre los resultados de múltiples estudios y experiencias en calidad y accesibilidad de la educación superior a distancia a nivel de Latinoamérica y el Caribe, así como en África, Asia y Europa, con la participación de representantes y expertos de organismos a nivel nacional e internacional.<br><br>

                                        Ejes temáticos<br><br>

                                        Nuevas dimensiones de la calidad de la Educación Superior a Distancia.<br>
                                        Tendencias de la accesibilidad en la Educación Superior a Distancia y Virtual.<br>
                                        Experiencias en la evaluación de la calidad de la Educación Superior a Distancia y Virtual con criterios de accesibilidad.<br><br>

                                        Objetivos<br><br>

                                        Reflexionar sobre calidad de la educación superior a distancia y virtual a nivel mundial.<br>
                                        Analizar las tendencias actuales sobre accesibilidad en la educación superior a distancia y virtual.<br>
                                        Fomentar la cultura de la evaluación en la educación superior a distancia y virtual, con criterios de accesibilidad.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-2" align="center">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>