
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_outsourcing/outsorcing_banner.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->
    
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">
                <div class="col-md-2">
                </div>

                <div id="verLine1" class="col-md-1">
                    <div class="verticalLine" style="height: 800px">&nbsp;</div>
                </div>

                <div class="col-md-5" align="left">
                    <p class="titulo">
                        <span style="color: #B40404">URBE Internacional</span> puede armar su departamento de E-learning a la medida de las necesidades de su organizacion. Nuestro 10 años de trayectoria en esta actividad, nos permiten afirmar que podemos bajar sustancialmente los costos del armado y gestión de las plataformas tecnológicas educativas (Learning Management System) y el costo del desarrollo temático de los cursos, diplomados, especializaciones y todo lo relacionado con el área de capacitación ejecutiva en general.<br><br>

                        Nuestros Ejecutivos de Cuentas Corporativas en el área de E-learning se podran en contacto con su empresa para hacerle una presentación y a su vez una propuesta de valor realmente conveniente para su organización.<br><br>

                        El desarrollo de E-learning para su organización no le consumirá demasiado tiempo, ni demasiados recursos. Nuestra propuesta inclute: planificación, desarrollo, funcionamiento y mantenimiento de LMS (campus virtual) y Aula virtual; también incluye el adiestramiento y el soporte para facilitadores y participantes.<br><br>

                        Nuestro equipo de profesionales de URBE Internacional se encargara de realizar todo el análisis relacionado con los aspectos tecnológicos y educativos de su organización, lo cual nos permitirá evaluar la realidad de su empresa y sugerir cual es la mejor alternativa interna que potenciara las competencias de su capital humano.
                    </p>
                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine" style="height: 800px">&nbsp;</div>
                </div>

                <div class="col-md-3" align="center">
                    <a href="#/soluciones"><img style="margin-bottom: 10%" class="img-responsive" src="img/img_outsourcing/a_03.png" alt="Front-URBE"></a>
                    <a href="#/outsourcing"><img style="margin-bottom: 10%" class="img-responsive" src="img/img_outsourcing/a_06.png" alt="Front-URBE"></a>
                    <a href="#/video-streaming"><img style="margin-bottom: 10%" class="img-responsive" src="img/img_outsourcing/a_08.png" alt="Front-URBE"></a>
                </div>
            </div>

        </div>
    </div>
   
</section>

