<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>URBE Internacional</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/imgs_postgrado/post_grado.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-2">
                                    <div><h4 class="titulo"><span style=" font-weight:bold;padding-left:20px;">ESPECIALIZACIONES</span></h4></div>
                                </div>

                                <div id="verLine1" class="col-md-1">
                                    <div class="verticalLine" style="height: 320px">&nbsp;                                 </div>
                                </div>

                                <div class="col-md-5">
                                    <div style=" margin-left:25px;">
                                        <img class="img-responsive" src="img/imgs_postgrado/especialidades.png"/>
                                    </div>
                                    &nbsp;
                                    <ul class="titulo">
                                        <li><a href="#/gerencia-ciencia-tecnologia?id=263">GERENCIA DE LA CIENCIA Y LA TECNOLOGÍA</a></li>
                                        <li><a href="#/informatica-educativa?id=341">INFORMÁTICA EDUCATIVA</a></li>
                                        <li><a href="#/gerencia-organizaciones?id=318">GERENCIA DE LAS ORGANIZACIONES</a></li>
                                        <li><a href="#/docencia-educacion-basica?id=319">DOCENCIA PARA LA EDUCACIÓN BÁSICA</a></li>
                                    </ul>




                                    &nbsp;                                


                                </div>

                                <div id="verLine2" class="col-md-1">
                                    <div class="verticalLine" style="height: 320px">&nbsp;</div>
                                </div>

                                <div class="col-md-3" align="center">
                                    <a href="#/modelo-educativo"><img class="img-responsive" style="margin-bottom: 10%" src="img/imgs_postgrado/cert-internacional_03.png" alt="Front-URBE"></a>

                                </div>
                            </div>

                            &nbsp;
                            &nbsp;

                            <!--Nueva sección de Cursos-->
                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo"><span style=" font-weight:bold;padding-left:100px;">MAESTRÍAS</span></h4>
                                </div>

                                <div id="verLine1" class="col-md-1">
                                    <div class="verticalLine" style="height: 500px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="left">
                                    <div style=" margin-left:25px;">
                                        <img class="img-responsive" src="img/imgs_postgrado/maestrias.png"/>
                                    </div>
                                    &nbsp;
                                    <ul class="titulo">
                                        <li><a href="#/gerencia-recursos-humanos?id=28">GERENCIA DE RECURSOS HUMANOS</a></li>
                                        <li><a href="#/informatica-educativa?id=27">INFORMÁTICA EDUCATIVA</a></li>
                                        <li><a href="#/gerencia-empresarial?id=38">GERENCIA EMPRESARIAL</a></li>
                                        <li><a href="#/gerencia-proyectos-industriales?id=37">GERENCIA DE PROYECTOS INDUSTRIALES</a></li>
                                        <li><a href="#/gerencia-mercadeo?id=31">GERENCIA DE MERCADEO</a></li>
                                        <li><a href="#/telematica?id=39">TELEMÁTICA</a></li>
                                        <li><a href="#/ciencias-comunicacion?id=34">CIENCIAS DE LA COMUNICACIÓN</a></li>
                                        <li><a href="#/ciencias-educacion-mencion-gerencia-educativa?id=238">CIENCIAS DE LA EDUCACIÓN, MENCIÓN: GERENCIA EDUCATIVA</a></li>
                                        <li><a href="#/gerencia-proyectos-investigacion-desarrollo?id=29">GERENCIA DE PROYECTOS DE INVESTIGACIÓN Y DESARROLLO</a></li>
                                        <li><a href="#/ingenieria-control-automatizacion-procesos?id=30">INGENIERÍA DE CONTROL Y AUTOMATIZACIÓN DE PROCESOS</a></li>


                                    </ul>
                                    &nbsp;
                                    &nbsp;

                                </div>

                                <div id="verLine2" class="col-md-1">
                                    <div class="verticalLine" style="height: 500px">&nbsp;</div>
                                </div>

                                <div class="col-md-3" align="center">

                                </div>
                            </div>

                            <!--Fin de sección-->             

                            &nbsp;
                            &nbsp;

                            <!--Nueva sección de Cursos-->
                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo"><span style=" font-weight:bold;padding-left:75px;">DOCTORADOS</span></h4>
                                </div>

                                <div id="verLine1" class="col-md-1">
                                    <div class="verticalLine" style="height: 315px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="left">
                                    <div style=" margin-left:25px;">
                                        <img class="img-responsive" src="img/imgs_postgrado/doctorado.png"/>
                                    </div>
                                    &nbsp;

                                    <ul class="titulo">
                                        <li><a href="#/ciencias-educacion?id=35">CIENCIAS DE LA EDUCACIÓN</a></li>
                                        <li><a href="#/ciencias-gerenciales?id=46">CIENCIAS GERENCIALES</a></li>
                                        <li><a href="#/ciencias-mencion-gerencia?id=45">CIENCIAS, MENCIÓN: GERENCIA</a></li>
                                        <li><a href="#/ciencias-politicas?id=42">CIENCIAS POLÍTICAS</a></li>



                                    </ul>
                                    &nbsp;
                                    &nbsp;

                                </div>

                                <div id="verLine2" class="col-md-1">
                                    <div class="verticalLine" style="height: 315px">&nbsp;</div>
                                </div>

                                <div class="col-md-3" align="center">

                                </div>
                            </div>

                            <!--Fin de sección-->      
                            &nbsp;
                            &nbsp;

                            <!--Nueva sección de Cursos-->
                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo"><span style=" font-weight:bold;padding-left:25px;">POSTDOCTORADOS</span></h4>
                                </div>

                                <div id="verLine1" class="col-md-1">
                                    <div class="verticalLine" style="height: 355px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="left">
                                    <div style=" margin-left:25px;">
                                        <img class="img-responsive" src="img/imgs_postgrado/postdoctorado.png"/>
                                    </div>
                                    &nbsp;
                                    <ul class="titulo">
                                        <li><a href="#/integracion-desarrollo-america-latina?id=800">INTEGRACIÓN Y DESARROLLO EN AMÉRICA LATINA</a></li>
                                        <li><a href="#/gerencia-organizaciones?id=241">GERENCIA EN LAS ORGANIZACIONES</a></li>
                                        <li><a href="#/gerencia-publica-gobierno?id=337">GERENCIA PÚBLICA Y GOBIERNO</a></li>
                                        <li><a href="#/gerencia-educacion-superior?id=240">GERENCIA EN LA EDUCACIÓN SUPERIOR</a></li>
                                        <li><a href="#/gestion-ciencia-tecnologia?id=618">GESTIÓN DE LA CIENCIA Y LA TECNOLOGÍA</a></li>
                                        <li><a href="#/estado-politicas-publicas-paz-social?id=615">ESTADO, POLÍTICAS PÚBLICAS Y PAZ SOCIAL</a></li>

                                    </ul>
                                    &nbsp;
                                    &nbsp;

                                </div>

                                <div id="verLine2" class="col-md-1">
                                    <div class="verticalLine" style="height: 355px">&nbsp;</div>
                                </div>

                                <div class="col-md-3" align="center">

                                </div>
                            </div>

                            <!--Fin de sección-->           
                            &nbsp;
                            &nbsp;

                            <!--Nueva sección de Cursos-->
                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo"><div style=" font-size:15px;width:220px; margin-right:100px;"><span style=" font-weight:bold;padding-left:0px;">PROGRAMAS DE ESTUDIO (NO CONDUCENTES A GRADO)</span></div></h4>
                                </div>

                                <div id="verLine1" class="col-md-1">
                                    <div class="verticalLine" style="height: 300px">&nbsp;</div>                </div>

                                <div class="col-md-5" align="left">
                                    <div style=" margin-left:25px;">
                                        <img class="img-responsive" src="img/img_diplomado/img_cursos.png"/>
                                    </div>
                                    &nbsp;
                                    <ul class="titulo">
                                        <li><a href="#/docencia-educacion-universitaria?id=239">DOCENCIA PARA EDUCACIÓN UNIVERSITARIA (COMPONENTE DOCENTE)</a></li>
                                        <li><a href="#/formacion-investigadores?id=519">FORMACIÓN DE INVESTIGADORES</a></li>
                                    </ul>
                                    &nbsp;
                                    &nbsp;

                                </div>

                                <div id="verLine2" class="col-md-1">
                                    <div class="verticalLine" style="height: 300px">&nbsp;</div>
                                </div>

                                <div class="col-md-3" align="center">

                                </div>
                            </div>

                            <!--Fin de sección-->                    
                        </div>
                    </div>
                </section>

            </div>
        </div>           

        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>


    </body>