
<!--Separador-Negro-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-negro">&nbsp;
    </div>
</div>

<!--Imagen Front-->
<section>
    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <img class="img-responsive" src="img/img_soluciones_corporativas/soluciones_banner.png" alt="Front-URBE">
    </div>
</section>
<!--Separador-rayado blanco-->

<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-rayado-blanco">&nbsp;
    </div>
</div>
<!--Separador Blanco-->
<div class="container-fluid" style="padding: 0%;margin: 0%">
    <div class="separador-blanco">&nbsp;
    </div>
</div>

<!-- CONTENIDO -->
<section>
    <!--Separador Blanco-->

    <div class="container-fluid" style="padding: 0%;margin: 0%">
        <div class="separador-blanco">&nbsp;
        </div>

        <div id="principal" class="container-fluid " style="padding: 0%;margin: 0%">

            <div class="row">
                <div class="col-md-2">
                </div>

                <div id="verLine1" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-5" align="left">
                    <p class="titulo">

                        Con URBE Internacional, las empresas pueden crear y administrar sus Universidades Corporativas de forma más económica y consistente para llegar no sólo a sus empleados, sino también a sus socios de negocios en todo el mundo.<br><br>

                        URBE Internacional también provee la base para mejorar la productividad, y el desempeño dentro de la administración estratégica del rendimiento, la gestión de sucesiones y las iniciativas de desarrollo de talento para que su organización obtenga el maximo valor de las inversiones que hace en la gente.<br><br>

                    </p>
                </div>

                <div id="verLine2" class="col-md-1">
                    <div class="verticalLine">&nbsp;</div>
                </div>

                <div class="col-md-3" align="center">
                    <a href="#/soluciones"><img style="margin-bottom: 10%" class="img-responsive" src="img/img_soluciones_corporativas/a_03.png" alt="Front-URBE"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <h4 class="titulo">BENEFICIOS</h4>
                </div>

                <div id="verLine1" class="col-md-1">
                </div>

                <div class="col-md-5" align="left">
                    <ul>
                        <li>Programas a distancia con su control y seguimiento en línea</li>
                        <li>Reducir costos en infraestructura, administracion, logística y de operaciones</li>
                        <li>Aumentar la eficiencia en la administración del flujo de participantes dentro de la empresa</li>
                        <li>Aprovechamiento de los expertos en contenido dentro de la empresa</li>
                        <li>Distribución de la administración en línea de la capacitación</li>
                        <li>Vincular las relaciones de socios y la rentabilidad a través de la universidad corporativa en línea</li>
                        <li>Alinear el aprendizaje con los objetivos estratégicos corporativos</li>
                        <li>Elevar la disponibilidad de cursos y la rentabilidad a través de la universidad corporativa en línea</li>
                        <li>Evitar traslados y ausencias laborales del personal a capacitar</li>
                        <li>Generar un flujo de homologación y estandarización de aprendizaje en la empresa</li>
                        <li>Proveer a la organización de las competencias derivadas de las necesidades identificadas en la operación de su estrategia corporativa</li>
                        <li>Asegurar la perfecta alineación del modelo educativo a la declaración del modelo de competencias vigente de su organización</li>
                    </ul>
                </div>

                <div id="verLine2" class="col-md-1">
                </div>

                <div class="col-md-3" align="center">
                    <a href="#/outsourcing"><img style="margin-bottom: 10%" class="img-responsive" src="img/img_soluciones_corporativas/a_06.png" alt="Front-URBE"></a>
                    <a href="#/video-streaming"><img style="margin-bottom: 10%" class="img-responsive" src="img/img_soluciones_corporativas/a_08.png" alt="Front-URBE"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <h4 class="titulo">CARACTERÍSTICAS</h4>
                </div>

                <div id="verLine1" class="col-md-1">
                </div>

                <div class="col-md-5" align="left">
                    <ul>
                        <li>Soluciones completas de administración del aprendizaje y contenidos que proveen a los gerentes de capital humano de su empresa las herramientas necesarias para crear una</li>
                        <li>Universidad corporativa donde se maneje una gran población de participantes y complejas estructuras organizacionales, también, para que los participantes incrementen sus habilidades y manejen el crecimiento de sus carreras</li>
                        <li>El aprendizaje combinado, incluyendo el uso de herramientas en tiempo real a través de URBE Internacional, ofreciendo una solución económica y de alto impacto</li>
                        <li>Aprendizaje combinando formal e informal como comunidades de práctica, para ofrecer conocimiento justo a tiempo</li>
                        <li>Herramientas y características de aprendizaje que se integren con la aplicaciones comunes donde los participantes la utilizan diariamente, como: correo electrónico, chat, foros, videoconferencias, entre otros</li>
                        <li>Aprendizaje integrado y desempeño alineado con los objetivos estratégicos de su organización</li>
                        <li>Generación de reportes que ayudan a la Gerencia de Capital Humano de su organización a analizar la efectividad de los programas de la universidad corporativa</li>
                    </ul>
                </div>

                <div id="verLine2" class="col-md-1">
                </div>

                <div class="col-md-3" align="center">
                </div>
            </div>

        </div>
    </div>

</section>

