<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_soporte/soporte.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-2">
                                    <h3 class="titulo">CONTACTO</h3>
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 500px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="left">
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 500px">&nbsp;</div>
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="left">
                                    <h4 class="titulo" style="margin-bottom: 5%">BUZON DE MENSAJES</h4>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="left">
                                    <h4 class="titulo">APARTADO POSTAL</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo">TELEFONOS</h4>
                                    <h5 class="titulo">VENEZUELA</h5>
                                    <p>
                                        +58 2612008871<br>
                                        2612008872<br>
                                        2612008873<br>
                                        2612008874<br>
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">

                                    <div class="row">
                                        <div class="col-md-6" >
                                            <input type="text" style="margin-bottom: 5%; background-color: #ECECE9; border: 0px solid" name="nombreCompleto" placeholder="Nombre Completo*">
                                            <input type="text" style="margin-bottom: 5%; background-color: #ECECE9; border: 0px solid" name="correo" placeholder="Correo Electronico*">
                                            <input type="text" style="margin-bottom: 5%; background-color: #ECECE9; border: 0px solid" name="organizacion" placeholder="Organizacion">
                                            <input type="text" style="margin-bottom: 5%; background-color: #ECECE9; border: 0px solid" name="pais" placeholder="País">
                                        </div>
                                        <div class="col-md-6">
                                            <textarea placeholder="Mesaje" style="resize: none; height: 116px; width:231px; background-color: #ECECE9; border: 0px solid"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" align="left">
                                            <p style="parrafo">
                                                (<span style="color: red">*</span>)Campos requeridos
                                            </p>
                                        </div>
                                        <div class="col-md-6" align="right">
                                            <img class="img-responsive" src="img/img_soporte/soporte_03.png" alt="Front-URBE">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="left">
                                    <h5 class="titulo">ESTADOS UNIDOS</h5>
                                    <p>
                                        MCBO: 3109 PO BOX 025233 MIAMI FL.<br>
                                        33102-5233, 11010NW 30TH STE 104<br>
                                        MIAMI, FL 33172-5032<br>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo">EMAIL</h4>
                                    <h6 class="titulo">INFO@URBEINTERNACIONAL.COM</h6>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="left">
                                    <h4 class="titulo">UBICACIÓN</h4>
                                    <p>
                                        HEARQUARTERS VENEZUELA.<br>
                                        CAMPUS URBE AV. GUAJIRA CON<br>
                                        PROLONGACIÓN NO 2. FRENTE A LA<br>
                                        PLAZA DE TOROS DE MARACAIBO,<br>
                                        ESTADO ZULIA, REPÚBLICA<br>
                                        BOLIVARIANA DE VENEZUELA.<br>

                                    </p>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 5%">
                                <div class="col-md-2">
                                    <h4 class="titulo">SKYPE</h4>
                                    <h6 class="titulo">URBE_EAD</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </div>
        </div>

        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>