<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_universidad_corporativa/universidad_corporativa.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-2">
                                    <h3 class="titulo">GESTIÓN CORPORATIVA</h3>
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 2250px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        <span style="color: #B40404">URBE INTERNACIONAL</span> a fin de gestionar el conocimiento interno de las grandes organizaciones, coloca a su disposición el servicio de Universidad Corporativa con la finalidad de proporcionar E-learning y Blender Learning para satisfacer los requerimientos formativos de los empleados dentro de cada organización.<br><br>

                                        <span style="color: #B40404">LA UNIVERSIDAD CORPORATIVA DE URBE INTERNACIONAL</span> ha identificado tendencias y generado soluciones que responden al modelo de aprendizaje de "trabajar y aprender" con adaptación curricular estrechamente ligada a los últimos avances tecnológicos y a la investigación en el campo de la denominada Gestión de la Información y Sociedad de Conocimiento.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 2250px">&nbsp;</div>
                                </div>

                                <div class="col-md-3" align="center">

                                    <a href="http://www.urbeinternacional.com/#/soluciones"> <img class="img-responsive" style="margin-bottom: 10%" src="img/img_universidad_corporativa/a_03.png" alt="Front-URBE"></a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo">¿QUÉ OFRECE URBE INTERNACIONAL A TRAVÉS DE LA UNIVERSIDAD CORPORATIVA?</h4><br>
                                    <h6 class="titulo">ENTRE LAS FACILIDADES QUE OFRECE LA UNIVERSIDAD CORPORATIVA DE URBE INTERNACIONAL SE ENCUENTRAN:</h6>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <ul class="parrafo">
                                        <li>Acceso a los cursos a distancia desde su propio portal o aplicacion Web.</li>
                                        <li>Control de participación a través de un LMS Corporativo.</li>
                                        <li>Biblioteca Virtual, Video y Audio Streaming.</li>
                                        <li>Soporte Técnico en línea, 14 horas diarias de lunes a viernes.</li>
                                        <li>Plataforma Tecnológica exclusiva para su organización sin costo adicional.</li>
                                        <li>Servicios de administración del sistema, base de datos, el soporte técnico y mantenimiento del servicio.</li>
                                        <li>Evaluaciones en línea.</li>
                                        <li>Reportes de avances de los participantes.</li>
                                        <li>La Gerencia de Recursos Humanos podrá realizar un seguimiento en línea de los participantes.</li>
                                        <li>Disponibilidad de los contenidos durante las 24 horas, todo el año.</li>
                                        <li>Diseño de Base de Datos por Competencias para la gestión de los planes de formación de su capital humano</li>
                                        <li>Su organización no tendrá que realizar gastos innecesarios en licencias de software o aplicativos de servidor, porque el LMS de URBE Internacional es totalmente ambiente WEB</li>
                                    </ul>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                    <a href="http://www.urbeinternacional.com/#/outsourcing"> <img class="img-responsive" style="margin-bottom: 10%" src="img/img_universidad_corporativa/a_06.png" alt="Front-URBE"></a>

                                    <a href="http://www.urbeinternacional.com/#/video-streaming"> <img class="img-responsive" style="margin-bottom: 10%" src="img/img_universidad_corporativa/a_08.png" alt="Front-URBE"></a>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 25%">
                                <div class="col-md-2">
                                    <h4 class="titulo">PLANES DE ACCIÓN</h4>
                                    <h6 class="titulo">SON AQUELLOS QUE LE PERMITIRÁN AL CLIENTE SELECCIONAR LA MEJOR OPCIÓN QUE OFRECE URBE INTERNACIONAL A TRAVÉS DE LA UNIVERSIDAD CORPORATIVA</h6>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                        <div class="row" align="center">
                                            <div class="col-md-4">
                                                <div class="primeraEtiquetaCorp" align="center">
                                                    <br><br>
                                                    <h4 class="titulo; tituloEnEtiqueta">PLANES ABIERTOS</h4>
                                                    <p class="parrafo; parrafoEnEtiqueta">
                                                        Utilizar para la formación del personal, utilizando la programación normal de los postgrados, diplomados y certificación técnica de URBE Internacional, donde su capital humano puede interactuar con personas de otras organizaciones para crear contextos colaborativos de aprendizaje.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="segundaEtiquetaCorp" align="center">
                                                    <br><br>
                                                    <h4 class="titulo; tituloEnEtiqueta">PLANES EXCLUSIVOS</h4>
                                                    <p class="parrafo; parrafoEnEtiqueta">
                                                        Utiliza la programación normal de los postgrados, diplomados y certificación técnica de URBE Internacional, exclusivamente para su talento humano, con el fin de resaltar en el proceso de aprendizaje, la visión, la misión y los valores de su organización, donde la gestión del conocimiento este en concordancia con sus fortalezas, oportunidades, debilidades y amenazas. 
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="terceraEtiquetaCorp" align="center">
                                                    <br><br>
                                                    <h4 class="titulo; tituloEnEtiqueta">PLANES A LA MEDIDA</h4>
                                                    <p class="parrafo; parrafoEnEtiqueta">
                                                        Diseñar programas de adiestramiento de su interés, utilizando los especialistas, el equipo de trabajo e infraestructura tecnológica de URBE Internacional. En definitiva, crear programas a la medida de las necesidades de su talento humano y de sus clientes. Sujeta a convenios específicos.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 5%">
                                <div class="col-md-2">
                                    <h4 class="titulo">FUNCIÓN DE URBE INTERTTAD CORPORATIVA</h4>
                                    <h6 class="titulo">LA PRINCIPAL FUNCIÓN DE URBE INTERNACIONAL, A TRAVÉS DE UNIVERSIDAD CORPORATIVA ESTA EN GESTIONAR Y DESARROLLAR AL CAPITAL HUMANO EN></h6>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5">
                                    <ul>
                                        <li>Crear nuevos conocimientos</li>
                                        <li>Establecer una educación</li>
                                        <li>Fomentar las actividades educativas corporativas</li>
                                        <li>Incrementar el alto rendimiento de su talento humano</li>
                                        <li>Desarrollar competencias esenciales para el éxito del negocio</li>
                                        <li>Promover creencias y valores para las organizaciones</li>
                                    </ul><br><br>

                                    <p class="parrafo">
                                        <span style="color: #B40404">URBE INTERNACIONAL</span> a través de la Universidad Corporativa, está identificando tendencias y generando soluciones que responden al modelo de aprendizaje de "trabajar y aprender" con adaptación curricular estrechamente ligada a los últimos avances tecnológicos y a la investigación en el campo de la denominada Sociedad de la Información y Gestión del Conocimiento.<br><br>

                                        <span style="color: #08088A">LSM URBE</span> Learning Management System URBE, (LMS URBE) es una de las plataformas de Teleformación más avanzadas de la corporación alguna en Latinoamérica. URBE Internacional es un Entorno Virtual de Enseñaza-Aprendizaje (EVE-A)
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 5%">
                                <div class="col-md-2">
                                    <h4 class="titulo">TENDENCIAS EDUCATIVAS DE URBE INTERNACIONAL, A TRAVÉS DE UNIVERSIDAD CORPORATIVA </h4>
                                    <h6 class="titulo">DENTRO DE LAS TENDENCIAS EDUCATIVAS EN MATERIA DE UNIVERSIDAD CORPORATIVA SE ENCUENTRAN:></h6>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5">
                                    <ul>
                                        <li>Equilibrio entre el sentido estratégico de la educación y el concepto de negocio de las empresa.</li>
                                        <li>Compromiso de la alta gerencia de las organizaciones con URBE Internacional, a fin de gestionar el conocimiento corporativo.</li>
                                        <li>Programoas diseñados y desarrollados en estructuras curriculares propias de cada organización.</li>
                                        <li>Nuevas formas de aprender, utilizando la modalidad a distancia a través de Internet o Intranet de cada organización, donde la mediatizacion ocurre en Web.</li>
                                        <li>Establecimiento de alianzas o acuerdos estrategicos para la formación del talento humano que fortalezcan y repotencien las posibilidades de negocio de las organizaciones, mediante outsourcing.</li>
                                    </ul><br><br>

                                    <p class="parrafo">
                                        <span style="color: #B40404">URBE INTERNACIONAL</span> a través de la Universidad Corporativa concibe el aprendizaje como un proceso de formación continua e integral que comprende desde la formación del hombre con una cultura corporativa, hasta el adiestramiento de los profesionales y técnicos que se desempeñen en las áreas estratégicas y funcionales de las organizaciones, a niveles de supervisorias, gerenciales y ejecutivas de cada corporación.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </div>
        </div>

        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>