<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URBE Internacional</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/URBE-Internacional-Jonatan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!--Separador-Negro-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-negro">&nbsp;
            </div>
        </div>

        <!--Imagen Front-->
        <section>
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <img class="img-responsive" src="img/img_video_streaming/video_streaming.png" alt="Front-URBE">
            </div>
        </section>
        <!--Separador-rayado blanco-->

        <div class="container-fluid" style="padding: 0%;margin: 0%">
            <div class="separador-rayado-blanco">&nbsp;
            </div>

            <!--Separador Blanco-->
            <div class="container-fluid" style="padding: 0%;margin: 0%">
                <div class="separador-blanco">&nbsp;
                </div>

                <!-- CONTENIDO -->
                <section>
                    <!--Separador Blanco-->
                    <div class="container-fluid" style="padding: 0%;margin: 0%">
                        <div class="separador-blanco">&nbsp;
                        </div>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-2">
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 3750px">&nbsp;</div>
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        <span style="color: #B40404">URBE INTERNACIONAL</span> cuenta con equipos de alta tecnología que permiten ofrecer a instituciones y organizaciones nacionales e internacionales, servicios de calidad que facilitan la comunicación a distancia, a través de Videoconferencias, Video Streaming, Video en Demanda, IPTV, Grabación y Edicion de eventos académicos y científicos para el desarrollo del E-Learing.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                    <div class="verticalLine" style="height: 3750px">&nbsp;</div>
                                </div>

                                <div class="col-md-3" align="center">
                                    <a href="#/soluciones"> <img class="img-responsive" style="margin-bottom: 10%" src="img/img_video_streaming/a_03.png" alt="Front-URBE"> </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo">TECNOLOGÍA DE VIDEO STREAMING</h4>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        Los servidores de video streaming de Urbe Internacional son recursos que facilita la transmisión de clips o señales de video a través de Internet. Este sistema consiste en que la reproducción de los clips o las películas no requiere una descarga previa en el ordenador del usuario, sino que el servidor entrega los datos de forma continua, sincronizarda y en tiempo real(al mismo tiempo que se envía, se está visualizando). <br><br>

                                        Esta tecnología permite transmitir un video en tiempo real o un video pregrabado sin necesidad de descargarlo previamente en el terminal, con el consiguiente ahorro de tiempo y de espacio necesario en disco y con la inmediatez que ello supone.<br><br>
                                    </p>

                                    <img class="img-responsive" style="margin-bottom: 10%" src="img/img_video streaming/video-streaming_03.png" alt="Front-URBE">

                                    <p class="parrafo">
                                        Soportamos nuestra tecnología con el proveedor Viewcast quien es el fabricante líder en sistemas de codificación de video y streaming para Internet, especialmente para los formatos Microsoft Windows Media y Real Video. Viewcast ha fijado el estándar del mercado con sus tarjetas de captura de video Osprey y con los sistemas Niagara además de ofrecer un amplio catálogo de productos incluyendo software Simulstream, control remoto de codificadores y otros.<br><br>

                                        Contamos con 08 Osprey 220 que ofrece entradas de video y audio balanceados y se considera como la entrada a la gama profesional de Osprey. Adicionalmente 02 Niagara Gostream. <br><br>

                                        Los formatos de streaming que ofrecemos son: MPEG-4, Flash Live, H.263, H.264, Real Video, Windows Media, 3GPP y 3GPP2.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                    <a href="#/outsourcing"> <img class="img-responsive" style="margin-bottom: 10%" src="img/img_video_streaming/a_06.png" alt="Front-URBE"> </a>

                                    <a href="#/video-streaming"> <img class="img-responsive" style="margin-bottom: 10%" src="img/img_video_streaming/a_08.png" alt="Front-URBE"> </a>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 5%">
                                <div class="col-md-2">
                                    <h4 class="titulo">TECNOLOGÍA DE IPTV</h4>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                       Internet Protocol Television (IPTV) se ha convertido en una denominación más común para los sistemas de distribución por suscripción de señales de televisión y/o video usando conexiones de banda ancha sobre el protocolo IP.<br><br>

                                       IPTV no es un protocolo en sí mismo, lo que implica que el IPTV o Televisión sobre el protocolo IP ha sido desarrollado basándose en el video streaming.<br><br>

                                       Esta tecnología transformará en un futuro próximo la televisión actual, aunque para ello son necesarias unas redes mucho más rápidas que las actuales, para poder garantizar la calidad en el servicio.<br><br>

                                       Podemos entregar videos para PC, PDA, Celular o cualquier dispositivo móvil de 3G.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 5%">
                                <div class="col-md-2">
                                    <h4 class="titulo">GRABACIÓN Y EDICIÓN DE EVENTORS</h4>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        En cuanto a la Grabación y Edición de Eventos, URBE Internacional ofrece lo más compacto en Anycast Station de Sony, el cual es un productor de contenido en vivo, esencialmente un "estudio de producción".<br><br>

                                        Es una poderosa herramienta de producción audiovisual para eventos o programas en vivo. Integra un switcher de video de alta calidad, un mixer de audio, una pantalla de LCD de gran tamaño, controla cámaras remotas y tiene un servidor y codificador para streaming en la web.<br><br>

                                        Nuestras camaras son en formato MiniDV y Disco Duro, con lentes de alta resolución 3CCD. 
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 5%">
                                <div class="col-md-2">
                                    <h4 class="titulo">TECONOLOGÍA DE VIDEOCONFERENCIA</h4>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        Es un sistema en tiempo real de comunicación multimedia interactiva, diseñada para llevar a cabo encuentros a distancia, punto a punto y/o multi-punto, entre dos o más personas y donde es posible una interrelación visual, auditiva, verbal y de datos con personas de cualquier parte del mundo.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo">TIPOS DE VIDEOCONFERENCIA</h4><br>
                                    <h5 class="titulo">BÁSICAMENTE EXISTEN DOS TIPOS DE VIDEOCONFERENCIA, SEGÚN EL NÚMERO DE PARTICIPANTES Y LA TECNOLOGÍA QUE SE UTILICE:</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h6 class="titulo">SEGÚN EL NÚMERO DE PARTICIPANTES:</h6>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        Punto a Punto: La videoconferencia se realiza entre dos únicos terminales de videoconferencia. Los participantes pueden estar en su oficina o bien en salas de videoconferencia.<br><br>

                                        Multipunto: Esta videoconferencia se realiza entre más de 2 terminales, es necesario entonces un equipo capaz de gestionar la comunicación entre los terminales, ha este equipo se les denomina puente o MCU (Unidad de Multiconferencia). La MCU se encargará de recibir la señal de todos los equipos de videoconferencia y de distribuir todas estas señales a todos los equipos, con el fin de que todos puedan participar al mismo tiempo en dicho evento. 
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h6 class="titulo">SEGÚN LA TECNOLOGIA QUE SE UTILICE:</h6>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center">
                                    <p class="parrafo">
                                        RDSI: una videoconferencia RDSI utiliza la red telefónica RDSI (Red Digital de Servicios Integrados) como medio de conexión entre los diferentes puntos a conectar. Se caracteriza por su fiabilidad y flexibilidad. La calidad de la videoconferencia RDSI dependerá de los canales que utilicemos, una calidad buena es 512kbps a 4 líneas RDSI.<br><br>

                                        H.323: Sistema de videoconferencia por Internet o IP, pensado para ser utilizado por usuarios finales (por ejemplo el NetMeeting), en la actualidad la mayoría de codecs soportan ambas tecnologías IP y RDSI.<br><br>

                                        MBone: Sistema de videoconferencia sobre la red IP Multicast
                                    </p>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <h4 class="titulo">EQUIPOS DE VIDEOCONFERENCIA</h4><br>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">SISTEMAS POLYCOM VSX 7000 Y VSX 6000</h5>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center" style="padding: 0%">
                                    <div class="row" style="padding: 0%">
                                        <div class="col-md-7" style="padding: 0%; margin: 0%">
                                                <p class="parrafo">
                                                    RDSI: una videoconferencia RDSI utiliza la red telefónica RDSI (Red Digital de Servicios Integrados) como medio de conexión entre los diferentes puntos a conectar. Se caracteriza por su fiabilidad y flexibilidad. La calidad de la videoconferencia RDSI dependerá de los canales que utilicemos, una calidad buena es 512kbps a 4 líneas RDSI.<br><br>

                                                    H.323: Sistema de videoconferencia por Internet o IP, pensado para ser utilizado por usuarios finales (por ejemplo el NetMeeting), en la actualidad la mayoría de codecs soportan ambas tecnologías IP y RDSI.<br><br>

                                                    MBone: Sistema de videoconferencia sobre la red IP Multicast
                                                </p>
                                        </div>
                                        <div class="col-md-5" style="padding: 0%">
                                            <img class="img-responsive" style="margin-bottom: 10%; width: 100%" src="img/img_video streaming/video-streaming_07.png" alt="Front-URBE">
                                        </div> 
                                    </div>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>

                            <div class="row" style="margin-top:5%">
                                <div class="col-md-2" align="right">
                                    <h5 class="titulo">SISTEMAs VCON HD2000, HD3000 y HD3000LT</h5>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5" align="center" style="padding: 0%">
                                    <div class="row" style="padding: 0%">
                                        <div class="col-md-7" style="padding: 0%; margin: 0%">
                                            <p class="parrafo">
                                                Los sistemas VCON son los más reciente y avanzado en sistema set-top de videoconferencia, pues combina videoconferencia, video continuo (streaming) y conferencia multipunto en un solo aparato.<br><br>

                                                El video de alta calidad y muy vívido, con sonido claro y nítido, hace que los participantes de la reunión disfruten sin duda de la mejor calidad de videoconferencia hoy disponible. Los recursos de streaming extienden el alcance de cualquier videoconferencia punto a punto o multipunto hacia la red, donde puede ser vista por personas autorizadas con un visualizador de streaming. Con el MCU incorporado es posible realizar videoconferencias sin costos adicionales, además de obtener el mejor desempeño entre los equipos tipo set-top de conferencia existente en el mercado.<br><br>

                                                Adicionalmente el sistema esta compuesto por 4 cámaras Sony de alta resolución 3CCD, con tecnología VISCA<br><br>
                                            </p>
                                        </div>
                                        <div class="col-md-5" style="padding: 0%">
                                            <img class="img-responsive" style="margin-bottom: 10%; width: 100%" src="img/img_video streaming/video-streaming_10.png" alt="Front-URBE">
                                        </div> 
                                    </div>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-3" align="center">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!--SCRIPTS-->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>