

               
<div><p style="font-size:15px"><strong>Financiamiento</strong></p>
  <table class="table table-hover" width="500" border="0";>
    <tr>
      <th width="82" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Período</div></th>
      <th width="64" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Duración</div></th>
      <th width="61" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Inversión</div></th>
      <th width="50" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Inicial</div></th>
      <th width="52" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Cuota 1</div></th>
      <th width="52" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Cuota 2</div></th>
      <th width="52" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Cuota 3</div></th>
      <th width="52" style="background-color:#103b70; color:#FFF; font-size:13px;"><div align="center">Cuota 4</div></th>
    </tr>  
                
    <tr>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center">640/40UC</div></td>
      <td style="font-size:13px;"><div align="center">$120,00</div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
    </tr>
                
    <tr>
      <td style="font-size:13px;"><div align="center">1er. Semestre</div></td>
      <td style="font-size:13px;"><div align="center">12</div></td>
      <td style="font-size:13px;"><div align="center">$432,00</div></td>
      <td style="font-size:13px;"><div align="center">$432,00</div></td>
      <td style="font-size:13px;"><div align="center">$252,00</div></td>
      <td style="font-size:13px;"><div align="center">$252,00</div></td>
      <td style="font-size:13px;"><div align="center">$252,00</div></td>
      <td style="font-size:13px;"><div align="center">$252,00</div></td>
    </tr>
                
    <tr>
      <td style="font-size:13px;"><div align="center">2do. Semestre</div></td>
      <td style="font-size:13px;"><div align="center">12</div></td>
      <td style="font-size:13px;"><div align="center">$432,00</div></td>
      <td style="font-size:13px;"><div align="center">$432,00</div></td>
      <td style="font-size:13px;"><div align="center">$252,00</div></td>
      <td style="font-size:13px;"><div align="center">$252,00</div></td>
      <td style="font-size:13px;"><div align="center">$252,00</div></td>
      <td style="font-size:13px;"><div align="center">$252,00</div></td>
    </tr>
                
    <tr>
      <td style="font-size:13px;"><div align="center">3er. Semestre</div></td>
      <td style="font-size:13px;"><div align="center">16</div></td>
      <td style="font-size:13px;"><div align="center">$432,00</div></td>
      <td style="font-size:13px;"><div align="center">$576,00</div></td>
      <td style="font-size:13px;"><div align="center">$268,00</div></td>
      <td style="font-size:13px;"><div align="center">$268,00</div></td>
      <td style="font-size:13px;"><div align="center">$268,00</div></td>
      <td style="font-size:13px;"><div align="center">$268,00</div></td>
    </tr>
                
    <tr>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center">Total</div></td>
      <td style="font-size:13px;"><div align="center">$4800,00</div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
      <td style="font-size:13px;"><div align="center"></div></td>
    </tr>


  </table>   
  </div>
            